@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.Trust.JoinAMat.ApplicationSchoolLocalGovernanceArrangements
@{
    ViewData["Title"] = "About the conversion";
}

@section BeforeMain
    {
    <a asp-page="ApplicationSchoolChangesToATrust" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back</a>
}

    <form method="post" name="frmLocalGovernanceArrangements" novalidate="">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Urn" />
        <input type="hidden" asp-for="ApplicationId" />
        <partial name="_HiddenFields" />

        <div class="govuk-grid-column-two-thirds">
	        <h1 class="govuk-heading-l">
		        <span class="govuk-caption-l">@Model.SelectedTrustName (step 3 of 3)</span>
	            Local governance arrangements
	        </h1>

	        <div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
		        <fieldset class="govuk-fieldset">
			        <div class="govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
				        <legend id="role-hint" class="govuk-fieldset__legend govuk-!-font-weight-bold">
					        Will there be any changes at a local level due to this school joining?
				        </legend>
				        <label for="ChangesToLaGovernanceOption" class="govuk-caption-l">
					        For example, setting up a local sub-regional hub or changes to any schemes of delegation.
				        </label>
				        <div class="govuk-!-margin-6" id="ChangesToLaGovernanceOptionNotSelected"></div>
				        <div class="govuk-form-group">
					        @foreach (var changesToLaGovernanceOption in Enum.GetValues<SelectOption>().OrderByDescending(x => x.ToString()))
					        {
						        <div class="govuk-radios__item">
							        <input type="radio"
							               asp-for="ChangesToLaGovernanceOption"
							               value="@Convert.ToInt32(changesToLaGovernanceOption)"
							               id="changesToLaGovernance@(changesToLaGovernanceOption)"
							               class="govuk-radios__input"
							               data-aria-controls="changesToLaGovernance-@(changesToLaGovernanceOption.ToString().ToLower())"
							               checked="@(changesToLaGovernanceOption.Equals(Model.ChangesToLaGovernanceOption))"
							               aria-expanded="False"/>
							        <label for="changesToLaGovernance@(changesToLaGovernanceOption)" class="govuk-label govuk-radios__label">
								        @changesToLaGovernanceOption.GetDescription()
							        </label>
						        </div>

						        @if (changesToLaGovernanceOption == SelectOption.Yes)
						        {
							        <div class="govuk-radios__conditional @(Model.ChangesToLaGovernanceOption != SelectOption.Yes ? "govuk-radios__conditional--hidden" : "")"
							             id="changesToLaGovernance-yes">
								        <a class="@(Model.ChangesToLaGovernanceDetailsError ? "govuk-error-message" : "govuk-visually-hidden")">
									        You must enter the details of the changes to the governance
								        </a>
								        <label id="ChangesToLaGovernanceExplainedNotEntered" for="ChangesToLaGovernanceExplained" class="govuk-label">
									        What are the changes and how do they fit into the current lines of accountability in the trust?
								        </label>
								        <textarea asp-for="ChangesToLaGovernanceExplained" id="ChangesToLaGovernanceExplained"
											class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
							        </div>
						        }
					        }
				        </div>
			        </div>
		        </fieldset>
	        </div>

	        <input type="submit" value="Save and continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>

        </div>
</form>
