@page
@using Dfe.Academies.External.Web.Helpers
@using Dfe.Academies.External.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.Trust.JoinAMat.ApplicationSchoolTrustConsent
@{
	ViewData["Title"] = "About the conversion";
}

@section BeforeMain
{
	<a asp-page="ApplicationSchoolJoinAMatTrustSummary" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back</a>
}

<form method="post" name="frmTrustConsent" novalidate="" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="Urn"/>
	<input type="hidden" asp-for="ApplicationId"/>
	<input type="hidden" asp-for="EntityId"/>
    <input type="hidden" asp-for="ApplicationReference"/>	
	<partial name="_HiddenFields"/>
	<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
		<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
	</div>
	
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">@Model.SelectedTrustName (step 1 of 3)</span>
		<h1 class="govuk-heading-l">
			Trust consent
		</h1>

		<div class="@(Model.TrustConsentFileError ? "govuk-form-group--error" : "govuk-radios__conditional")"
		     id="TrustConsentFileNotAddedError" aria-expanded="false">
			<div class="govuk-form-group govuk-error-summary__list">
				<a href="#TrustConsentFileNotAddedError"
				   class="@(Model.TrustConsentFileError ? "govuk-error-message" : "govuk-visually-hidden")">
					You must upload a file
				</a>
			</div>
		</div>

		<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
			Upload evidence that the trust consents to the school joining
		</legend>
		<label class="govuk-label">This can be either a letter of consent from the trust, or the minutes of their board meeting.
			<br/>
			<br/>
		</label>
		<div class="govuk-form-group @(Model.TrustConsentFileSizeError || Model.TrustConsentFileGenericError ? "govuk-form-group--error" : "")">
			<div id="TrustConsentFiles">
			<label class="govuk-label"> Upload a file</label>
			</div>
			<!--<div id="TrustConsentFileSizeError">-->
			<p id="file-upload-trustConsentFileSize-error" class="govuk-error-message @(!Model.TrustConsentFileSizeError ? "govuk-visually-hidden" : "")">
                <span class="govuk-visually-hidden">Error:</span> @(FileUploadConstants.MaxFileUploadErrorMessage)
			</p>
			<!--</div>-->
			<p id="file-upload-trustConsentFile-genericError" class="govuk-error-message @(!Model.TrustConsentFileGenericError ? "govuk-visually-hidden" : "")">
				<span class="govuk-visually-hidden">Error:</span> The selected file could not be uploaded – try again
			</p>
			<input id="trustConsentFileUpload"
				   type="file"
			       accept=".doc,.docx,.pptx,.pdf"
			       class="govuk-label"
			       aria-describedby="file-upload-trustConsentFileSize-error"
			       multiple
			       asp-for="@Model.TrustConsentFiles" />
			<br/>
		</div>
		
		<partial name="Shared/_FileUploadPartial" model='new FileUploadViewModel { ApplicationId = Model.ApplicationId, Urn = Model.Urn, EntityId = Model.EntityId, ApplicationReference = Model.ApplicationReference, FilePrefixSection = FileUploadConstants.JoinAMatTrustConsentFilePrefixFieldName, FileNames = Model.TrustConsentFileNames }'/>

		<br/>
        
		<input type="submit" value="Save and continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>

	</div>
</form>
@*<input type="hidden" asp-for="Urn" />*@
<partial name="_HiddenFields" />