@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplicationSchoolJoinAMatTrustSummaryModel
@{
    ViewData["Title"] = "About the conversion";
}

@section BeforeMain
    {
    <a asp-page="../../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back</a>
}

    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">
            @Model.ApplicationType.GetDescription()
        </span>
        <h1 class="govuk-heading-l">@Model.SelectedTrustName</h1>
        
	    @foreach (var heading in Model.ViewModel)
		{
        <h1 class="govuk-heading-m">
            @heading.Title
        </h1>
        <table class="govuk-table">
		    <tbody class="govuk-table__body">
		    <tr class="govuk-table__row">
			    <td class="govuk-table__cell">
				    @if (heading.Status == SchoolConversionComponentStatus.NotStarted)
				    {
					    <a asp-page="@heading.URI" class="govuk-button govuk-button--secondary" data-cy="startSectionButton"
					       asp-route-appId="@Model.ApplicationId"
					       asp-route-urn="@Model.Urn"
                 data-cy="startSectionButton">
						    Start section
					    </a>
				    }
				    else if(Model.ApplicationStatus != ApplicationStatus.Submitted)
				    {
					    <a asp-page="@heading.URI" class="govuk-link"
					       asp-route-appId="@Model.ApplicationId"
					       asp-route-urn="@Model.Urn">
						    Change your answers
					    </a>
				    }
			    </td>
			    <td class="govuk-table__cell"></td>
		    </tr>
		    @foreach (var conversionComponent in heading.Sections)
		    {
			    <partial name="_SchoolConversionComponentPartial" model="@conversionComponent"/>
		    }
		    </tbody>
	    </table>
        <div class="govuk-!-margin-6"></div>
    }

    <a asp-page="../../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-button" data-module="govuk-button" data-cy="saveAndReturnButton">Save and return to your application</a>
</div>
