@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.Helpers
@using Dfe.Academies.External.Web.TagHelpers
@using Dfe.Academies.External.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.AdditionalDetails
@{
    ViewData["Title"] = "Additional Details";
}

@section BeforeMain
    {
    <a asp-page="FurtherInformationSummary" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">Back</a>
}

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
            @Model.SchoolName
        </span>
        <h1 class="govuk-heading-l">
            Additional details
        </h1>
        <form method="post" name="frmAdditionalDetails" novalidate="" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Urn" />
            <input type="hidden" asp-for="ApplicationId" />
            <input type="hidden" asp-for="EntityId" />
            <input type="hidden" asp-for="ApplicationReference" />
            <partial name="_HiddenFields" />

            <fieldset class="govuk-fieldset">
                <div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
                    <partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel" />
                </div>

                <div class="govuk-form-group @(Model.IsPropertyInvalid("TrustBenefitDetails") ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        <label for="TrustBenefitDetails" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            What will the school bring to the trust they are joining?
                        </label>
                        <span id="trust-benefit-hint" class="govuk-hint">
                            Describe the contribution they will make
                        </span>
                        <p id="TrustBenefitDetails-error" class="@(Model.IsPropertyInvalid("TrustBenefitDetails") ? "govuk-error-message" : "govuk-visually-hidden")">
                            <span class="govuk-visually-hidden">Error:</span> You must provide details
                        </p>
                        <textarea asp-for="TrustBenefitDetails" id="TrustBenefitDetails"
                              class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>

                    </fieldset>
                </div>

                <div id="OfstedInspected" class="govuk-form-group @(Model.IsPropertyInvalid("OfstedInspected") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Have Ofsted recently inspected the school but not published the report yet?
                        </legend>
                        <p id="TrustBenefitDetails-error" class="@(Model.IsPropertyInvalid("OfstedInspected") ? "govuk-error-message" : "govuk-visually-hidden")">
                            <span class="govuk-visually-hidden">Error:</span> You must provide details
                        </p>
                    @foreach (var ofstedInspectedOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="OfstedInspected"
                               value="@Convert.ToInt32(ofstedInspectedOption)"
                               id="ofstedInspectedOption@(ofstedInspectedOption)"
                               class="govuk-radios__input"
                               data-aria-controls="ofstedInspectedOption-@(ofstedInspectedOption.ToString().ToLower())"
                               checked="@(ofstedInspectedOption.Equals(Model.OfstedInspected))" />
                            <label for="ofstedInspectedOption@(ofstedInspectedOption)" class="govuk-label govuk-radios__label">
                                @ofstedInspectedOption.GetDescription()
                            </label>
                        </div>
                        @if (ofstedInspectedOption == SelectOption.Yes)
                        {
                            <div class="@(ofstedInspectedOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "govuk-radios__conditional")" id="ofstedInspectedOption-yes">
                                <div class="govuk-form-group @(Model.OfstedInspectedDetailsError ? "govuk-form-group--error" : "")">
                                    <p id="OfstedInspectionDetailsNotAdded"
                               class="@(Model.OfstedInspectedDetailsError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must provide details
                                    </p>
                                    <label for="OfstedInspectedDetails" class="govuk-label">Provide the inspection date and a short summary of the outcome</label>
                                    <textarea asp-for="OfstedInspectionDetails" id="OfstedInspectedDetails" class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                </div>
                            </div>
                        }
                    }
                </fieldset>
            </div>

            <div id="SafeguardingInvestigations" class="govuk-form-group @(Model.IsPropertyInvalid("SafeguardingInvestigations") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Are there any safeguarding investigations ongoing at the school?
                    </legend>
                    <p id="SafeguardingInvestigations-error" class="@(Model.IsPropertyInvalid("SafeguardingInvestigations") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var safeguardingOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="SafeguardingInvestigations"
                               value="@Convert.ToInt32(safeguardingOption)"
                               id="safeguardingOption@(safeguardingOption)"
                               class="govuk-radios__input"
                               data-aria-controls="safeguardingOption-@(safeguardingOption.ToString().ToLower())"
                               checked="@(safeguardingOption.Equals(ViewData.Model.SafeguardingInvestigations))" />
                            <label for="safeguardingOption@(safeguardingOption)" class="govuk-label govuk-radios__label">
                                @safeguardingOption.GetDescription()
                            </label>
                        </div>
                    }
                </fieldset>
            </div>

            <div id="LocalAuthorityReorganisation" class="govuk-form-group @(Model.IsPropertyInvalid("LocalAuthorityReorganisation") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Is the school part of a local authority reorganisation?
                    </legend>
                    <p id="LocalAuthorityReorganisation-error" class="@(Model.IsPropertyInvalid("LocalAuthorityReorganisation") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var localAuthorityOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="LocalAuthorityReorganisation"
                               value="@Convert.ToInt32(localAuthorityOption)"
                               id="localAuthorityOption@(localAuthorityOption)"
                               class="govuk-radios__input"
                               data-aria-controls="localAuthorityOption-@(localAuthorityOption.ToString().ToLower())"
                               checked="@(localAuthorityOption.Equals(ViewData.Model.LocalAuthorityReorganisation))" />
                            <label for="localAuthorityOption@(localAuthorityOption)" class="govuk-label govuk-radios__label">
                                @localAuthorityOption.GetDescription()
                            </label>
                        </div>
                        @if (localAuthorityOption == SelectOption.Yes)
                        {
                            <div class="@(localAuthorityOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "govuk-radios__conditional")"
                         id="localAuthorityOption-yes">
                                <div class="govuk-form-group @(Model.LocalAuthorityReorganisationDetailsError ? "govuk-form-group--error" : "")">
                                    <p id="LocalAuthorityReorganisationDetailsNotAdded"
                               class="@(Model.LocalAuthorityReorganisationDetailsError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must provide details
                                    </p>
                                    <label for="LocalAuthorityReorganisationDetails" class="govuk-label">Details of the reorganisation</label>
                                    <textarea asp-for="LocalAuthorityReorganisationDetails" id="LocalAuthorityReorganisationDetails"
                                      class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                </div>
                            </div>
                        }
                    }
                </fieldset>
            </div>

            <div id="LocalAuthorityClosurePlans" class="govuk-form-group @(Model.IsPropertyInvalid("LocalAuthorityClosurePlans") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Is the school part of any local authority closure plans?
                    </legend>
                    <p id="LocalAuthorityClosurePlans-error" class="@(Model.IsPropertyInvalid("LocalAuthorityClosurePlans") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var localAuthorityClosurePlanOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="LocalAuthorityClosurePlans"
                               value="@Convert.ToInt32(localAuthorityClosurePlanOption)"
                               id="localAuthorityClosurePlanOption@(localAuthorityClosurePlanOption)"
                               class="govuk-radios__input"
                               data-aria-controls="localAuthorityClosurePlanOption-@(localAuthorityClosurePlanOption.ToString().ToLower())"
                               checked="@(localAuthorityClosurePlanOption.Equals(ViewData.Model.LocalAuthorityClosurePlans))" />
                            <label for="localAuthorityClosurePlanOption@(localAuthorityClosurePlanOption)" class="govuk-label govuk-radios__label">
                                @localAuthorityClosurePlanOption.GetDescription()
                            </label>
                        </div>
                        @if (localAuthorityClosurePlanOption == SelectOption.Yes)
                        {
                            <div class="@(localAuthorityClosurePlanOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "govuk-radios__conditional")"
                         id="localAuthorityClosurePlanOption-yes">
                                <div class="govuk-form-group @(Model.LocalAuthorityClosurePlanDetailsError ? "govuk-form-group--error" : "")">
                                    <p id="localAuthorityClosurePlanDetailsNotAdded"
                               class="@(Model.LocalAuthorityClosurePlanDetailsError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must provide details
                                    </p>
                                    <label for="LocalAuthorityClosurePlanDetails" class="govuk-label">Details of the closure plans</label>
                                    <textarea asp-for="LocalAuthorityClosurePlanDetails" id="LocalAuthorityClosurePlanDetails"
                                      class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                </div>
                            </div>
                        }
                    }
                </fieldset>
            </div>

            <div id="LinkedToDiocese" class="govuk-form-group @(Model.IsPropertyInvalid("LinkedToDiocese") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Is the school linked to a diocese?
                    </legend>
                    <p id="LinkedToDiocese-error" class="@(Model.IsPropertyInvalid("LinkedToDiocese") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var dioceseOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="LinkedToDiocese"
                               value="@Convert.ToInt32(dioceseOption)"
                               id="dioceseOption@(dioceseOption)"
                               class="govuk-radios__input"
                               data-aria-controls="dioceseOption-@(dioceseOption.ToString().ToLower())"
                               checked="@(dioceseOption.Equals(ViewData.Model.LinkedToDiocese))" />
                            <label for="dioceseOption@(dioceseOption)" class="govuk-label govuk-radios__label">
                                @dioceseOption.GetDescription()
                            </label>
                        </div>
                        @if (dioceseOption == SelectOption.Yes)
                        {
                            <div class="@(dioceseOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "govuk-radios__conditional")"
                         id="dioceseOption-yes">
                                <div class="govuk-form-group @(Model.DioceseNameError ? "govuk-form-group--error" : "")">
                                    <p id="DioceseNameNotAdded"
                               class="@(Model.DioceseNameError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must provide details
                                    </p>
                                    <label for="DioceseName" class="govuk-label">Name of diocese</label>
                                    <textarea asp-for="DioceseName" id="DioceseName" class="govuk-textarea" cols="5" rows="1" maxlength="2000"></textarea>
                                    <p class="govuk-label">
                                        Upload a letter from the diocese giving permission for the school to convert.
                                        <br />
                                        <br />
                                    </p>
                                    <div class="govuk-form-group @(Model.DioceseFileSizeError || Model.DioceseFileGenericError ? "govuk-form-group--error" : "")">
                                        <label for="dioceseFileUpload" class="govuk-label">Upload a file</label>
                                        <span class="govuk-hint govuk-body govuk-!-margin-bottom-5">
                                            The application cannot be submitted without this. You can carry on the application and come back to this later.
                                        </span>

                                        <p id="file-upload-dioceseFiles-error" class="govuk-error-message @(!Model.DioceseFileSizeError ? "govuk-visually-hidden" : "")">
                                            <span class="govuk-visually-hidden">Error:</span> @(FileUploadConstants.MaxFileUploadErrorMessage)
                                        </p>

                                        <p id="file-upload-dioceseFiles-genericError" class="govuk-error-message @(!Model.DioceseFileGenericError ? "govuk-visually-hidden" : "")">
                                            <span class="govuk-visually-hidden">Error:</span> The selected file could not be uploaded – try again
                                        </p>

                                        <input id="dioceseFileUpload"
                                       type="file"
                                       accept=".doc,.docx,.pptx,.pdf"
                                       class="govuk-label"
                                       multiple
                                       asp-for="@Model.DioceseFiles" />
                                    </div>
                                    <partial name="Shared/_FileUploadPartial" model='new FileUploadViewModel {ApplicationId = Model.ApplicationId,Urn = Model.Urn, EntityId = Model.EntityId, ApplicationReference = Model.ApplicationReference, FilePrefixSection = FileUploadConstants.DioceseFilePrefixFieldName,FileNames = Model.DioceseFileNames}' />
                                </div>
                            </div>
                        }
                    }
                </fieldset>
            </div>

            <div id="PartOfFederation" class="govuk-form-group @(Model.IsPropertyInvalid("PartOfFederation") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Is the school part of a federation
                    </legend>
                    <span id="federation-hint" class="govuk-hint">
                        A federation is a group of maintained schools under one governing body
                        <a href="https://www.legislation.gov.uk/uksi/2012/1035/contents/made" target="_blank" class="govuk-link--no-visited-state" rel="noopener">(The School Governance (Federations) (England) Regulations 2012)</a>
                    </span>
                    <p id="PartOfFederation-error" class="@(Model.IsPropertyInvalid("PartOfFederation") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var federationOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="PartOfFederation"
                               value="@Convert.ToInt32(federationOption)"
                               id="federationOption@(federationOption)"
                               class="govuk-radios__input"
                               data-aria-controls="federationOption-@(federationOption.ToString().ToLower())"
                               checked="@(federationOption.Equals(ViewData.Model.PartOfFederation))" />
                            <label for="federationOption@(federationOption)" class="govuk-label govuk-radios__label">
                                @federationOption.GetDescription()
                            </label>
                        </div>
                    }
                </fieldset>
            </div>

            <div id="SupportedByFoundationTrustOrBody" class="govuk-form-group @(Model.IsPropertyInvalid("SupportedByFoundationTrustOrBody") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Is the school supported by a foundation, trust or other body(e.g. parish council) that appoints foundation governors?
                    </legend>
                    <p id="SupportedByFoundationTrustOrBody-error" class="@(Model.IsPropertyInvalid("SupportedByFoundationTrustOrBody") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var supportedByFoundationTrustOrBodyOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="SupportedByFoundationTrustOrBody"
                               value="@Convert.ToInt32(supportedByFoundationTrustOrBodyOption)"
                               id="supportedByFoundationTrustOrBodyOption@(supportedByFoundationTrustOrBodyOption)"
                               class="govuk-radios__input"
                               data-aria-controls="supportedByFoundationTrustOrBodyOption-@(supportedByFoundationTrustOrBodyOption.ToString().ToLower())"
                               checked="@(supportedByFoundationTrustOrBodyOption.Equals(ViewData.Model.SupportedByFoundationTrustOrBody))" />
                            <label for="supportedByFoundationTrustOrBodyOption@(supportedByFoundationTrustOrBodyOption)" class="govuk-label govuk-radios__label">
                                @supportedByFoundationTrustOrBodyOption.GetDescription()
                            </label>
                        </div>
                        @if (supportedByFoundationTrustOrBodyOption == SelectOption.Yes)
                        {
                            <div class="@(supportedByFoundationTrustOrBodyOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "govuk-radios__conditional")"
                         id="supportedByFoundationTrustOrBodyOption-yes">
                                <div class="govuk-form-group @(Model.SupportedByFoundationTrustOrBodyError ? "govuk-form-group--error" : "")">
                                    <p id="FoundationTrustOrBodyNameNotAdded"
                               class="@(Model.SupportedByFoundationTrustOrBodyError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must provide details
                                    </p>
                                    <label for="FoundationTrustOrBodyName" class="govuk-label">Name of this body</label>
                                    <textarea asp-for="FoundationTrustOrBodyName" id="FoundationTrustOrBodyName" class="govuk-textarea" cols="10" rows="1" maxlength="2000"></textarea>

                                    <div class=" @(Model.FoundationConsentFileError ? "govuk-form-group--error" : "govuk-radios__conditional")"
                                 id="FoundationConsentFileNotAddedError">
                                        <div class="govuk-form-group govuk-error-summary__list">
                                            <a href="#foundationConsentFileUpload"
                                       class="@(Model.FoundationConsentFileError ? "govuk-error-message" : "govuk-visually-hidden")">
                                                You must upload a file
                                            </a>
                                        </div>
                                    </div>

                                    <p class="govuk-label">
                                        Please upload their letter of consent
                                        <br />
                                        <br />
                                    </p>
                                    <div class="govuk-form-group @(Model.FoundationConsentFileSizeError || Model.FoundationConsentFileGenericError ? "govuk-form-group--error" : "")">

                                        <label for="foundationConsentFileUpload" class="govuk-label"> Upload a file</label>
                                        <br />
                                        <p id="file-upload-foundationConsentFiles-error" class="govuk-error-message @(!Model.FoundationConsentFileSizeError ? "govuk-visually-hidden" : "")">
                                            <span class="govuk-visually-hidden">Error:</span> @(FileUploadConstants.MaxFileUploadErrorMessage)
                                        </p>
                                        <p id="file-upload-foundationConsentFiles-genericError" class="govuk-error-message @(!Model.FoundationConsentFileGenericError ? "govuk-visually-hidden" : "")">
                                            <span class="govuk-visually-hidden">Error:</span> The selected file could not be uploaded – try again
                                        </p>


                                        <input id="foundationConsentFileUpload"
                                       type="file"
                                       accept=".doc,.docx,.pptx,.pdf"
                                       class="govuk-label"
                                       multiple
                                       asp-for="@Model.FoundationConsentFiles" />
                                    </div>
                                    <partial name="Shared/_FileUploadPartial" model='new FileUploadViewModel { ApplicationId = Model.ApplicationId, Urn = Model.Urn, EntityId = Model.EntityId, ApplicationReference = Model.ApplicationReference, FilePrefixSection = FileUploadConstants.FoundationConsentFilePrefixFieldName, FileNames = Model.FoundationConsentFileNames }' />
                                </div>
                            </div>
                        }
                    }
                </fieldset>
            </div>

            <div id="ExemptionFromSACRE" class="govuk-form-group @(Model.IsPropertyInvalid("ExemptionFromSACRE") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Does the school currently have an exemption from providing broadly Christian collective worship issued by the local Standing Committee on Religious Education (SACRE)?
                    </legend>
                    <p id="ExemptionFromSACRE-error" class="@(Model.IsPropertyInvalid("ExemptionFromSACRE") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var exemptionFromSACREOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="ExemptionFromSACRE"
                               value="@Convert.ToInt32(exemptionFromSACREOption)"
                               id="exemptionFromSACREOption@(exemptionFromSACREOption)"
                               class="govuk-radios__input"
                               data-aria-controls="exemptionFromSACREOption-@(exemptionFromSACREOption.ToString().ToLower())"
                               checked="@(exemptionFromSACREOption.Equals(ViewData.Model.ExemptionFromSACRE))" />
                            <label for="exemptionFromSACREOption@(exemptionFromSACREOption)" class="govuk-label govuk-radios__label">
                                @exemptionFromSACREOption.GetDescription()
                            </label>
                        </div>
                        @if (exemptionFromSACREOption == SelectOption.Yes)
                        {
                            <div class="govuk-form-group @(Model.ExemptionFromSACREError ? "govuk-form-group--error" : "govuk-radios__conditional")
																	@(exemptionFromSACREOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "")"
                         id="exemptionFromSACREOption-yes">              
                                <label for="govuk-date" class="govuk-label">When does the exemption end?</label>
                                <div id="exemption-end-date-hint" class="govuk-hint">
                                    For example, 31 3 1980
                                </div>           
                                <p id="exemptionFromSACREEndDateNotAdded"
                                             class="@(Model.ExemptionFromSACREError ? "govuk-error-message" : "govuk-visually-hidden")">
                                    You must provide details
                                </p>
                                <govuk-date field-name="@Model.ExemptionEndDateName"
                                    field-data="@Model.ExemptionEndDate"
                                    field-day="@Model.ExemptionEndDateDay"
                                    field-month="@Model.ExemptionEndDateMonth"
                                    field-year="@Model.ExemptionEndDateYear">
                                </govuk-date>

                            </div>
                        }
                    }
                </fieldset>
            </div>


            <div class="govuk-form-group @(Model.IsPropertyInvalid("MainFeederSchools") ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
                        <partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel" />
                    </div>
                    <label for="MainFeederSchools" class="govuk-fieldset__legend govuk-fieldset__legend--s">Please provide a list of your main feeder schools</label>
                    <span id="feeder-schools-hint" class="govuk-hint">
                        We recognise you may have many feeder schools, therefore please just detail the top 5
                    </span>

                </fieldset>
                <p id="MainFeederSchools-error" class="@(Model.IsPropertyInvalid("MainFeederSchools") ? "govuk-error-message" : "govuk-visually-hidden")">
                    <span class="govuk-visually-hidden">Error:</span> You must provide details
                </p>
                <textarea asp-for="MainFeederSchools" id="MainFeederSchools" class="govuk-textarea" cols="40" rows="10" maxlength="2000"></textarea>
            </div>


            <div class="govuk-form-group">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    The school's Governing Body must have passed a resolution to apply to convert to academy status.
                    Upload a copy of the school's consent to converting and joining the trust.
                </legend>
                <span id="Upload-resolutionConsentFiles-hint" class="govuk-hint">
                    This is normally in the form of the minutes from the Governing Body meeting at which the resolution to convert was passed
                </span>

                <div class="govuk-form-group">
                    <div class="govuk-form-group @(Model.ResolutionConsentFileSizeError || Model.ResolutionConsentFileGenericError ? "govuk-form-group--error" : "")">

                        <label class="govuk-label" for="resolutionConsentFileUpload">
                            Upload a file
                        </label>
                        <br />
                        <p id="file-upload-resolutionConsentFiles-error" class="govuk-error-message @(!Model.ResolutionConsentFileSizeError ? "govuk-visually-hidden" : "")">
                            <span class="govuk-visually-hidden">Error:</span> @(FileUploadConstants.MaxFileUploadErrorMessage)
                        </p>
                        <p id="file-upload-resolutionConsentFilesGeneric-Error" class="govuk-error-message @(!Model.ResolutionConsentFileGenericError ? "govuk-visually-hidden" : "")">
                            <span class="govuk-visually-hidden">Error:</span> The selected file could not be uploaded – try again
                        </p>

                        <input id="resolutionConsentFileUpload"
                               type="file"
                               accept=".doc,.docx,.pptx,.pdf"
                               class="govuk-label"
                               multiple
                               asp-for="@Model.ResolutionConsentFiles" />
                    </div>
                </div>
                <partial name="Shared/_FileUploadPartial" model='new FileUploadViewModel {
	ApplicationId = Model.ApplicationId,
	Urn = Model.Urn,
	EntityId = Model.EntityId,
	ApplicationReference = Model.ApplicationReference,
	FilePrefixSection = FileUploadConstants.ResolutionConsentfilePrefixFieldName,
	FileNames = Model.ResolutionConsentFileNames
}' />
                <p class="govuk-body govuk-radios__conditional">The application cannot be submitted without this. You can carry on the application and come back to this later.</p>
            </div>

            <div id="EqualityAssessment" class="govuk-form-group @(Model.IsPropertyInvalid("EqualityAssessment") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Has an equalities impact assessment been carried out and considered by the governing body?
                    </legend>
                    <p id="EqualityAssessment-error" class="@(Model.IsPropertyInvalid("EqualityAssessment") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var equalitiesImpactAssessmentOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="EqualityAssessment"
                               value="@Convert.ToInt32(equalitiesImpactAssessmentOption)"
                               id="equalitiesImpactAssessmentOption@(equalitiesImpactAssessmentOption)"
                               class="govuk-radios__input"
                               data-aria-controls="equalitiesImpactAssessmentOption-@(equalitiesImpactAssessmentOption.ToString().ToLower())"
                               checked="@(equalitiesImpactAssessmentOption.Equals(ViewData.Model.EqualityAssessment))" />

                            <label for="equalitiesImpactAssessmentOption@(equalitiesImpactAssessmentOption)" class="govuk-label govuk-radios__label">
                                @equalitiesImpactAssessmentOption.GetDescription()
                            </label>
                        </div>
                        @if (equalitiesImpactAssessmentOption == SelectOption.Yes)
                        {

                            <div class="@(equalitiesImpactAssessmentOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "govuk-radios__conditional")"
                         id="equalitiesImpactAssessmentOption-yes">
                                <div class="govuk-form-group @(Model.EqualityAssessmentError ? "govuk-form-group--error" : "")">
                                    <p id="equalitiesImpactAssessmentOptionNoOptionSelected"
                               class="@(Model.EqualityAssessmentError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must enter an option
                                    </p>
                                    @foreach (var disproportionateProtectedCharacteristicsOption in Enum.GetValues<SchoolEqualitiesProtectedCharacteristics>().OrderByDescending(x => x.ToString()))
                                    {
                                        <div class="govuk-radios__item">
                                            <input type="radio"
                                       asp-for="DisproportionateProtectedCharacteristics"
                                       value="@Convert.ToInt32(disproportionateProtectedCharacteristicsOption)"
                                       id="disproportionateProtectedCharacteristicsOption@(disproportionateProtectedCharacteristicsOption)"
                                       class="govuk-radios__input"
                                       data-aria-controls="disproportionateProtectedCharacteristicsOption-@(disproportionateProtectedCharacteristicsOption.ToString().ToLower())"
                                       checked="@(disproportionateProtectedCharacteristicsOption.Equals(ViewData.Model.DisproportionateProtectedCharacteristics))" />
                                            <label for="disproportionateProtectedCharacteristicsOption@(disproportionateProtectedCharacteristicsOption)" class="govuk-label govuk-radios__label">
                                                @disproportionateProtectedCharacteristicsOption.GetDescription()
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>

                        }
                    }
                </fieldset>
            </div>

            <div id="FurtherInformation" class="govuk-form-group @(Model.IsPropertyInvalid("FurtherInformation") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Do you want to add any further information?
                    </legend>
                    <p id="FurtherInformation-error" class="@(Model.IsPropertyInvalid("FurtherInformation") ? "govuk-error-message" : "govuk-visually-hidden")">
                        <span class="govuk-visually-hidden">Error:</span> You must provide details
                    </p>
                    @foreach (var furtherInformationOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                    {
                        <div class="govuk-radios__item">
                            <input type="radio"
                               asp-for="FurtherInformation"
                               value="@Convert.ToInt32(furtherInformationOption)"
                               id="furtherInformationOption@(furtherInformationOption)"
                               class="govuk-radios__input"
                               data-aria-controls="furtherInformationOption-@(furtherInformationOption.ToString().ToLower())"
                               checked="@(furtherInformationOption.Equals(ViewData.Model.FurtherInformation))" />
                            <label for="furtherInformationOption@(furtherInformationOption)" class="govuk-label govuk-radios__label">
                                @furtherInformationOption.GetDescription()
                            </label>
                        </div>
                        @if (furtherInformationOption == SelectOption.Yes)
                        {
                            <div class="@(furtherInformationOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "govuk-radios__conditional")"
                         id="furtherInformationOption-yes">
                                <div class="govuk-form-group @(Model.FurtherInformationError ? "govuk-form-group--error" : "")">
                                    <p id="furtherInformationDetailsNotAdded"
                               class="@(Model.FurtherInformationError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must provide details
                                    </p>
                                    <label for="furtherInformationDetails" class="govuk-label">Any other information</label>
                                    <textarea asp-for="FurtherInformationDetails" id="furtherInformationDetails"
                                      class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                </div>
                            </div>
                        }
                    }
                </fieldset>
            </div>

        </fieldset>

        <br />
        <input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" />
    </form>
</div>