@page
@model ApplicationSelectSchoolModel
@{
	ViewData["Title"] = "School Details";
}

@section BeforeMain
{
	<a asp-page="../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back</a>
}

<div class="ccms-loader govuk-!-display-none"></div>

<div class="govuk-grid-column-two-thirds">
	<div id="divApplyingToDo" class="govuk-form-group">
		<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
			<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
		</div>

		<form method="post" id="search-form" novalidate>
			@Html.AntiForgeryToken()
			<input type="hidden" id="applicationId" asp-for="ApplicationId"/>
			<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">

				<h2 class="govuk-caption-l">School details</h2>
				<fieldset class="govuk-fieldset" data-required data-error="Search cannot be blank">
                    <div id="SearchQueryContainer" class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading govuk-heading-m">
                                What is the name of the school?
                            </h2>
                        </legend>
                        <label class="govuk-hint" id="search-hint" for="SearchQueryInput">
                            Enter the name of the school, or its 6 digit unique reference number (URN)
                        </label>
                        <span asp-validation-for="SearchQuery" class="govuk-error-message" id="search-error"></span>
                        <input id="SearchQueryInput"
                               asp-for="@Model.SearchQuery"
                               class="govuk-input govuk-input--width-20"
                               maxlength="100"
                               type="search"
                               aria-describedby="search-hint search-error" />
                        <div id="autocomplete-container" data-cy="schoolSearchBox"></div>
                    </div>


					<div class="govuk-form-group">
						<div id="schoolSelectedDetails" class="hideElement"></div>
						<div id="confirm-school-checkbox" class="govuk-checkboxes" data-module="govuk-checkboxes">
							<div id="ConfirmationErrorContainer" class="hideElement">
								<span asp-validation-for="CorrectSchoolConfirmation" class="govuk-error-message"></span>
							</div>
							<div class="govuk-checkboxes__item">
								<input id='ConfirmSelection'
								       asp-for="@Model.CorrectSchoolConfirmation"
								       class='hideElement govuk-checkboxes__input'>
								<label id='confirm-school-label' for='ConfirmSelection'
								       class='hideElement govuk-label govuk-checkboxes__label'>
									This is the correct school
								</label>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<br/>
			<div class="js-show">
				<input type="submit" asp-page-handler="AddSchool" id="btnAdd" value="Save and continue"
				       class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
			</div>
			<noscript>
				<input type="submit" asp-page-handler="Find" id="btnFind" value="Search"
				       class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
			</noscript>
		</form>
	</div>
</div>

@section Scripts {
	<script src="/js/academies.schoolsearch.js" asp-append-version="true" asp-add-nonce></script>
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

	@* Add Event listeners as inline scripts do not comply with CSP *@
	<script asp-add-nonce>
		document.addEventListener('DOMContentLoaded', function () {
			document.getElementById('ConfirmSelection')
				.addEventListener('click', () => { academies.clearCheckboxValidation(document.getElementById('ConfirmSelection').checked) });
			document.getElementById('btnAdd')
				.addEventListener('click', academies.clientSideValidation);
		});
	</script>
}