@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.FeatureManagement
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.ApplicationPreOpeningSupportGrantModel
@inject IConversionGrantExpiryFeature ConversionGrantExpiryFeature;
@{
    ViewData["Title"] = "Apply to become an academy - conversion support grant";
}

@section BeforeMain
{
    <a asp-page="ApplicationPreOpeningSupportGrantSummary" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
        Academy conversion support grant
	</h1>
    @if (await ConversionGrantExpiryFeature.IsEnabledAsync())
    {
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                    The <a class="govuk-link" href="https://www.gov.uk/guidance/claim-the-academy-conversion-support-grant" rel="noopener">conversion support grant</a> has ended
                <br />
                <p>You are no longer eligible for this grant</p>
            </strong>
        </div>
    }
    else
    {
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                The deadline to apply for the conversion support grant is 11:55pm Friday 20 December 2024
            </strong>
        </div>
    }
    
	<p class="govuk-body">
			@if (Model.ApplicationType != ApplicationTypes.JoinAMat)
			{
				<p class="govuk-body">Please go to <a href='https://www.gov.uk/guidance/provide-information-about-your-banking-and-payments-to-dfe' 
				                                      class="govuk-link"
														target='_blank' rel="noopener"> provide information about your banking payments to DfE </a> to add your bank details.
                </p>

				<span id="funds-paid-to-school-hint" class="govuk-hint">
					Your application can be submitted without completing this action now, however please provide your bank details either before or shortly after submission of your application.
				</span>
			}
    </p>

	<form method="post" name="frmApplicationPreOpeningSupportGrant" novalidate="">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>
        <input type="hidden" asp-for="ApplicationType" />
        <partial name="_HiddenFields"/>
		<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
			<fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Do you want these funds paid to the school or the trust the school is joining?</legend>
				<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
				</div>

				@if (Model.ApplicationType == ApplicationTypes.JoinAMat)
				{
					<div class="govuk-form-group">
						<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
							@foreach (var payFundsToOption in Enum.GetValues(typeof(PayFundsTo)).OfType<PayFundsTo>())
							{
								<div class="govuk-radios__item">
									<input type="radio"
									       asp-for="SchoolSupportGrantFundsPaidTo"
									       value="@Convert.ToInt32(payFundsToOption)"
									       id="pay-to@(payFundsToOption)"
									       class="govuk-radios__input"
									       data-aria-controls="payto-@(payFundsToOption.ToString().ToLower())"
									       checked="@(payFundsToOption.Equals(Model.SchoolSupportGrantFundsPaidTo))"
									       aria-expanded="False"/>
									<label for="pay-to@(payFundsToOption)" class="govuk-label govuk-radios__label">
										@payFundsToOption.GetDescription()
									</label>
								</div>

								@if (payFundsToOption == PayFundsTo.School)
								{
									<div class="@(payFundsToOption == PayFundsTo.School ? "govuk-radios__conditional" : "govuk-radios__conditional--hidden")"
									     id="payto-school" aria-expanded="false">
										<div class="govuk-form-group">
                                            <p class="govuk-body">Go to <a href='https://www.gov.uk/guidance/provide-information-about-your-banking-and-payments-to-dfe' class="govuk-link" target='_blank' rel="noopener">provide information about your banking payments to DfE</a> to add the school’s bank details.</p>
											<span id="funds-paid-to-school-hint" class="govuk-hint">
												Your application can be submitted without completing this action now, however please provide your bank details either before or shortly after submission of your application.
											</span>
										</div>
									</div>
								}
								else
								{
									<div class="@(payFundsToOption == PayFundsTo.Trust ? "govuk-radios__conditional" : "govuk-radios__conditional--hidden")"
									     id="payto-trust" aria-expanded="false">
										<div class="govuk-form-group">
                                            <p class="govuk-body">Advise the trust to go to <a href='https://www.gov.uk/guidance/provide-information-about-your-banking-and-payments-to-dfe' class="govuk-link" target='_blank' rel="noopener">provide information about your banking payments to DfE</a> to check their bank details are up to date.</p>
											<span id="funds-paid-to-trust-hint" class="govuk-hint">
												Your application can be submitted without completing this action now.
											</span>
										</div>
									</div>
								}
							}
						</div>
					</div>
				}
				else
				{
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								<h1 class="govuk-fieldset__heading">
									I confirm that:
								</h1>
							</legend>
							<div class="govuk-checkboxes" data-module="govuk-checkboxes">
								<div class="govuk-checkboxes__item">
									<input asp-for="ConfirmSchoolPay" type="checkbox"
									       class="govuk-checkboxes__input">
									<label id='confirm-school-pay' for='ConfirmSchoolPay'
									       class="govuk-label govuk-checkboxes__label">
										I would like the grant paying to the school
									</label>
								</div>
							</div>
						</fieldset>
					</div>
				}

			</fieldset>
		</div>
		<br/>
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>