@page
@model Dfe.Academies.External.Web.Pages.School.ApplicationConversionTargetDateModel
@{
	ViewData["Title"] = "Apply to become an academy - Conversion target date";
}

@section BeforeMain
{
	<a asp-page="SchoolOverview" class="govuk-back-link">Back to school overview</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		Conversion key details
	</span>
	<h1 class="govuk-heading-l">
		Conversion target date
	</h1>

	<form method="post" name="frmPupilNumbers" novalidate="">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>		
		<partial name="_HiddenFields"/>
		
		TODO:- content - conditional radio first - yes / no.
		Yes, will show below date input and big textbox
		
		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading">
						When was your passport issued?
					</h1>
				</legend>
				<div id="passport-issued-hint" class="govuk-hint">
					For example, 27 3 2007
				</div>
				<div class="govuk-date-input" id="passport-issued">
					<div class="govuk-date-input__item">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-date-input__label" for="passport-issued-day">
								Day
							</label>
							<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
						</div>
					</div>
					<div class="govuk-date-input__item">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-date-input__label" for="passport-issued-month">
								Month
							</label>
							<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
						</div>
					</div>
					<div class="govuk-date-input__item">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-date-input__label" for="passport-issued-year">
								Year
							</label>
							<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
						</div>
					</div>
				</div>

			</fieldset>
		</div>		

		<br/>
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>

@* Existing A2C-SIP code
	<p class="govuk-body-l">Conversion usually takes around 6 months. It may take longer if the school is part of a private finance initiative (PFI) contract.</p> 
<div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
		<a2c-legend field-name="@FieldConstants.SipSchoolConversionTargetDateDifferent"
				    legend-class="govuk-fieldset__legend govuk-fieldset__legend--s"
				    legend-text="Do you want the conversion to happen on a particular date?"
				    view-data="@ViewData">
		</a2c-legend>
		<div class="govuk-radios" data-module="radios">
			<a2c-radio-item is-checked="@((string) ViewData[FieldConstants.SipSchoolConversionTargetDateDifferent] == ((int) Enums.A2CSelectOption.Yes).ToString())"
					        conditional-field-name="explain-different"
					        conditional-field-value="@((int) Enums.A2CSelectOption.Yes)"
					        label-text="Yes"
					        radio-value="@((int) Enums.A2CSelectOption.Yes)"
					        field-name="@FieldConstants.SipSchoolConversionTargetDateDifferent">
			</a2c-radio-item>
			<div class="govuk-radios__conditional" id="explain-different" style="@((string) ViewData[FieldConstants.SipSchoolConversionTargetDateDifferent] != ((int) Enums.A2CSelectOption.Yes).ToString() ? "display: none" : "")"> 
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset" aria-describedby="conversion-date-different-date-hint" role="group">
						<a2c-legend field-name="@FieldConstants.SipSchoolConversionTargetDateDate"
								    legend-class="govuk-fieldset__heading govuk-fieldset__legend govuk-fieldset__legend--xs a2ch1legend"
								    legend-text="Preferred date"
								    view-data="@ViewData">
						</a2c-legend>
						<span id="conversion-date-different-date-hint" class="govuk-hint">
							For example, 1 9 2019
						</span>
						<a2c-date field-name="@FieldConstants.SipSchoolConversionTargetDateDate"
								    field-data="@ViewData[FieldConstants.SipSchoolConversionTargetDateDate]"
								    field-day="@ViewData[FieldConstants.SipSchoolConversionTargetDateDate + "-day"]"
								    field-month="@ViewData[FieldConstants.SipSchoolConversionTargetDateDate + "-month"]"
								    field-year="@ViewData[FieldConstants.SipSchoolConversionTargetDateDate + "-year"]">
						</a2c-date>

					</fieldset>
				</div>  
				<a2c-text-area field-name="@FieldConstants.SipSchoolConversionTargetDateExplained"
						        field-data="@ViewData[FieldConstants.SipSchoolConversionTargetDateExplained]"
						        message="Explain why you want to convert on this date"
						        view-data="@ViewData">
				</a2c-text-area> 

			</div>
			<a2c-radio-item is-checked="@((string) ViewData[FieldConstants.SipSchoolConversionTargetDateDifferent] == ((int) Enums.A2CSelectOption.No).ToString())"
					        conditional-field-name="explain-different"
					        conditional-field-value="@((int) Enums.A2CSelectOption.Yes)"
					        label-text="No"
					        radio-value="@((int) Enums.A2CSelectOption.No)"
					        field-name="@FieldConstants.SipSchoolConversionTargetDateDifferent">
			</a2c-radio-item>
		</div>
	</fieldset>
</div> *@