@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.FeatureManagement
@using Dfe.Academies.External.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.ApplicationPreOpeningSupportGrantSummaryModel
@inject IConversionGrantExpiryFeature ConversionGrantExpiryFeature;
@{
	ViewData["Title"] = "Apply to become an academy - About the conversion";
}

@section BeforeMain
{
	<partial name="Shared/_BackLink" model='new BackViewModel { ApplicationId = Model.ApplicationId, SchoolURN = Model.Urn, ApplicationType = Model.ApplicationType }'/>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
        Conversion support grant
	</h1>
    @if (Model.ApplicationStatus == ApplicationStatus.InProgress && await ConversionGrantExpiryFeature.IsEnabledAsync())
    {
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                The <a class="govuk-link" href="https://www.gov.uk/guidance/claim-the-academy-conversion-support-grant" rel="noopener">conversion support grant</a> has ended
                <br />
                <p>You are no longer eligible for this grant</p>
            </strong>
        </div>
    }

	@foreach (var question in Model.ViewModel)
	{
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				@if (question.Status == SchoolConversionComponentStatus.NotStarted)
				{
					<a asp-page="@question.URI" class="govuk-button govuk-button--secondary"
					   asp-route-appId="@Model.ApplicationId"
					   asp-route-urn="@Model.Urn"
             data-cy="startSectionButton">
						Start section
					</a>
				}
				else if(Model.ApplicationStatus != ApplicationStatus.Submitted)
				{
					<a asp-page="@question.URI" class="govuk-link"
					   asp-route-appId="@Model.ApplicationId"
					   asp-route-urn="@Model.Urn">
						Change your answers
					</a>
				}
			</div>
		</div>
		<hr/>
		@foreach (var conversionComponent in question.Sections)
		{
			<partial name="_SchoolConversionComponentPartial" model="@conversionComponent"/>
		}
	}

    <partial name="Shared/_BackButton" model='new BackViewModel { ApplicationId = Model.ApplicationId, SchoolURN = Model.Urn, ApplicationType = Model.ApplicationType }'/>
</div>
<input type="hidden" asp-for="Urn" />
