@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.Helpers
@using Dfe.Academies.External.Web.TagHelpers
@using Dfe.Academies.External.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.CurrentFinancialYearModel
@{
	ViewData["Title"] = "About the conversion";
}

@section BeforeMain
{
	<a asp-page="PreviousFinancialYear" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
	<h1 class="govuk-heading-l">
		<span class="govuk-caption-l">Finances (Step 2 of 6)</span>
		Current financial year
	</h1>
        <form method="post" name="frmFinancialPreviousYear" novalidate="" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>
		<input type="hidden" asp-for="EntityId"/>
        <input type="hidden" asp-for="ApplicationReference"/>	
		<partial name="_HiddenFields"/>    
        
			<fieldset class="govuk-fieldset">
				<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
				</div>

				<div class="get-started-intro">
                      
					<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
						<p>Converting schools should normally be in surplus or have a balanced budget</p>
						<p>We may let the school carry forward a deficit, but only if they have a plan to 
							balance their budget in a reasonable time and provide a forecast showing how 
							they'll do this in 2 to 3 years</p>
					</div>
				</div>
                
                <div class="govuk-form-group">
				 <div id="CFYFinancialEndDateNotEntered">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							End of current financial year 
						</legend>
					    <div id="pfy-end-date-hint" class="govuk-hint">
						    For example, 01 09 2022
					    </div>
                            <label class="@(Model.CFYFinancialEndDateError ? "govuk-error-message" : "govuk-visually-hidden")">
						    You must select financial year end date
					    </label>
					    <govuk-date field-name="@Model.CFYEndDateFormInputName"
					        field-data="@Model.CFYEndDate"
						    field-day="@Model.CFYEndDateDay"
						    field-month="@Model.CFYEndDateMonth"
						    field-year="@Model.CFYEndDateDateYear">
					    </govuk-date>
                    </fieldset>
				   </div>
				</div>

				<div class="govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
					<fieldset class="govuk-fieldset" role="group">
						<label for="Revenue" class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Forecasted revenue carry forward at end of the current financial year (31 March)
						</label>
						<div class="govuk-form-group">
							<input type="number" asp-for="Revenue" id="Revenue" class="govuk-input govuk-input--width-20"/>
						</div>

						<div class="govuk-form-group">
							<div id="CFYRevenueStatus">
					        <div id="CFYRevenueStatusExplainedNotEntered">
							@foreach (var revenueType in Enum.GetValues(typeof(RevenueType)).OfType<RevenueType>())
	                        {
		                        <div class="govuk-radios__item">
			                        <input type="radio"
			                               asp-for="CFYRevenueStatus"
			                               value="@Convert.ToInt32(revenueType)"
			                               id="revenueType@(revenueType)"
			                               class="govuk-radios__input"
											data-aria-controls="revenueType-@(revenueType.ToString().ToLower())"
											checked="@(revenueType.Equals(Model.CFYRevenueStatus))"/>
	                                <label for="revenueType@(revenueType)" class="govuk-label govuk-radios__label">
				                        @revenueType.GetDescription()
			                        </label>
		                        </div>

                               
	                            @if (revenueType == RevenueType.Deficit)
	                            {
								 
								 
                                    <div class="@(Model.CFYRevenueStatusExplainedError ? "govuk-form-group--error" : "govuk-radios__conditional")
				                                @(revenueType == RevenueType.Surplus ? "govuk-radios__conditional--hidden" : "")"
												id="revenueType-deficit">
	                                        <label
												class="@(Model.CFYRevenueStatusExplainedError ? "govuk-error-message" : "govuk-visually-hidden")">
	                                            You must enter the reason for the revenue deficit or upload a file
	                                        </label>
		                                    <label for="CFYRevenueCarryForwardExplained" class="govuk-label">
			                                    Explain the reason for the deficit, how the school plan to deal with it, and the recovery plan.
		                                    </label>
		                                    <span class="govuk-hint">
			                                    Provide details of the financial forecast and/or the deficit recovery plan agreed with the local authority 
		                                    </span>
	                                        <textarea id="CFYRevenueCarryForwardExplained" asp-for="CFYRevenueStatusExplained"
	                                          class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                            <p class="govuk-label">
									            You can upload the school’s recovery plan.
								            </p>
	                                    <span class="govuk-hint">
		                                    We prefer schools to set out their income and expenditure using the
		                                    <a href="https://www.gov.uk/guidance/consistent-financial-reporting-framework-cfr"
		                                       target="_blank" class="govuk-link" rel="noopener">consistent financial reporting</a>
		                                    codes.
	                                    </span>
	                                    <div class="govuk-form-group @(Model.SchoolCFYRevenueFileSizeError || Model.SchoolCFYRevenueFileGenericError ? "govuk-form-group--error" : "")">
                                            <div id="SchoolCfyRevenueStatusFiles">
		                                    <label for="schoolCfyRevenueFileUpload" class="govuk-label">
			                                    Upload a file
		                                    </label>
											</div>
		                                    <br/>
											<div id="SchoolCFYRevenueFileSizeError">
		                                    <p id="file-upload-schoolCFYRevenueFileSize-error" class="govuk-error-message @(!Model.SchoolCFYRevenueFileSizeError ? "govuk-visually-hidden" : "")">
                                                <span class="govuk-visually-hidden">Error:</span> @(FileUploadConstants.MaxFileUploadErrorMessage)
		                                    </p>
											</div>
		                                    <p id="file-upload-schoolCFYRevenueFile-genericError" class="govuk-error-message @(!Model.SchoolCFYRevenueFileGenericError ? "govuk-visually-hidden" : "")">
			                                    <span class="govuk-visually-hidden">Error:</span> The selected file could not be uploaded – try again
		                                    </p>
		                                    <input id="schoolCfyRevenueFileUpload"
		                                           type="file"
		                                           accept=".doc,.docx,.pptx,.pdf"
		                                           class="govuk-label"
		                                           multiple
		                                           asp-for="@Model.SchoolCfyRevenueStatusFiles"/>
	                                    </div>
		                                    <partial name="Shared/_FileUploadPartial" model="new FileUploadViewModel { ApplicationId = Model.ApplicationId, Urn = Model.Urn, EntityId = Model.EntityId, ApplicationReference = Model.ApplicationReference, FileNames = Model.SchoolCFYRevenueStatusFileNames, FilePrefixSection = FileUploadConstants.SchoolCFYRevenueStatusFile }"/>

	                                    </div>
	                            }
								
	                        }
							</div>
							</div>
						</div>

					</fieldset>
				</div>

                <div class="govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
	                <fieldset class="govuk-fieldset">
		                <label for="CapitalCarryForward" class="govuk-fieldset__legend govuk-fieldset__legend--s">
			                Forecasted capital carry forward at end of the current financial year (31 March)
		                </label>
		                <div class="govuk-form-group">
                            <input type="number" asp-for="CapitalCarryForward" id="CapitalCarryForward" class="govuk-input govuk-input--width-20" />
		                </div>                        

		                <div class="govuk-form-group">
						  <div id="CFYCapitalCarryForwardStatus">
							<div id="PFYCapitalCarryForwardExplainedNotEntered">
			                @foreach (var capitalCarryForwardStatus in Enum.GetValues(typeof(RevenueType)).OfType<RevenueType>())
			                {
				                <div class="govuk-radios__item">
					                <input type="radio"
	                                       asp-for="CFYCapitalCarryForwardStatus"
					                       value="@Convert.ToInt32(capitalCarryForwardStatus)"
					                       id="capitalType@(capitalCarryForwardStatus)"
					                       class="govuk-radios__input"
	                                       data-aria-controls="capitalCarryForwardStatus-@(capitalCarryForwardStatus.ToString().ToLower())"
	                                       checked="@(capitalCarryForwardStatus.Equals(Model.CFYCapitalCarryForwardStatus))"/>
					                <label for="capitalType@(capitalCarryForwardStatus)" class="govuk-label govuk-radios__label">
						                @capitalCarryForwardStatus.GetDescription()
					                </label>
				                </div>

				                @if (capitalCarryForwardStatus == RevenueType.Deficit)
				                {
                                    <div class="@(Model.CFYCapitalCarryForwardStatusExplainedError ? "govuk-form-group--error" : "govuk-radios__conditional")
					                                @(capitalCarryForwardStatus == RevenueType.Surplus ? "govuk-radios__conditional--hidden" : "")"
										id="capitalCarryForwardStatus-deficit">

                                        <label
											class="@(Model.CFYCapitalCarryForwardStatusExplainedError ? "govuk-error-message" : "govuk-visually-hidden")">
							                You must enter the reason for the capital carry forward deficit or upload a file
						                </label>
                                        <label for="CFYCapitalCarryForwardExplained" class="govuk-label">
							                Explain the reason for the deficit, how the school plan to deal with it, and the recovery plan.
						                </label>
						                <span class="govuk-hint">
							                Provide details of the financial forecast and/or the deficit recovery plan agreed with the local authority 
						                </span>
						                <textarea asp-for="CFYCapitalCarryForwardExplained" id="CFYCapitalCarryForwardExplained"
						                          class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                        <p class="govuk-label">
							                You can upload the school’s recovery plan.
						                </p>
	                                    <span class="govuk-hint">
		                                    We prefer schools to set out their income and expenditure using the
		                                    <a href="https://www.gov.uk/guidance/consistent-financial-reporting-framework-cfr"
		                                       target="_blank" class="govuk-link" rel="noopener">consistent financial reporting</a>
		                                    codes.
	                                    </span>
	                                    <div class="govuk-form-group @(Model.SchoolCFYCapitalFileSizeError || Model.SchoolCFYCapitalFileGenericError ? "govuk-form-group--error" : "")">
                                        	 <div id="SchoolCfyCapitalStatusFiles">					
		                                    <label for="schoolCfyCapitalFileUpload" class="govuk-label">
			                                    Upload a file
		                                    </label>
											</div>
											<div id="SchoolCFYCapitalFileSizeError">
		                                    <p id="file-upload-schoolCFYCapitalFileSize-error" class="govuk-error-message @(!Model.SchoolCFYCapitalFileSizeError ? "govuk-visually-hidden" : "")">
                                                <span class="govuk-visually-hidden">Error:</span> @(FileUploadConstants.MaxFileUploadErrorMessage)
		                                    </p>
											</div>
											<div id="SchoolCFYCapitalForwardFiles">
		                                    <p id="file-upload-schoolCFYCapitalFile-genericError" class="govuk-error-message @(!Model.SchoolCFYCapitalFileGenericError ? "govuk-visually-hidden" : "")">
			                                    <span class="govuk-visually-hidden">Error:</span> The selected file could not be uploaded – try again
		                                    </p>
											</div>
		                                    
		                                    <input id="schoolCfyCapitalFileUpload"
		                                           type="file"
		                                           accept=".doc,.docx,.pptx,.pdf"
		                                           class="govuk-label"
		                                           multiple
		                                           asp-for="@Model.SchoolCFYCapitalForwardFiles" />
	                                    
	                                    </div>
	                                    <partial name="Shared/_FileUploadPartial" model="new FileUploadViewModel{ ApplicationId = Model.ApplicationId, Urn = Model.Urn, EntityId = Model.EntityId, ApplicationReference = Model.ApplicationReference, FileNames = Model.SchoolCFYCapitalForwardFileNames, FilePrefixSection = FileUploadConstants.SchoolCFYCapitalForwardFile}" />

                                    </div>
								}
								
			                }
							</div>
						   </div>
		                </div>
	                </fieldset>
                </div>
			</fieldset>
        <br />

		<input type="submit" value="Save and continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>