@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.Helpers
@using Dfe.Academies.External.Web.TagHelpers
@using Dfe.Academies.External.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.CurrentFinancialYearModel
@{
	ViewData["Title"] = "Apply to become an academy - About the conversion";
}

@section BeforeMain
{
	<a asp-page="../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back to application overview</a>
}

<div class="govuk-grid-column-two-thirds">
	<h1 class="govuk-heading-l">
		<span class="govuk-caption-l">Finances (Step 2 of 6)</span>
		Current financial year
	</h1>
        <form method="post" name="frmFinancialPreviousYear" novalidate="" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>
		<input type="hidden" asp-for="EntityId"/>
        <input type="hidden" asp-for="ApplicationReference"/>	
		<partial name="_HiddenFields"/>    
        
			<fieldset class="govuk-fieldset">
				<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
				</div>

				<div class="get-started-intro">
                      
					<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
						<p>Converting schools should normally be in surplus or have a balanced budget</p>
						<p>We may let the school carry forward a deficit, but only if they have a plan to 
							balance their budget in a reasonable time and provide a forecast showing how 
							they'll do this in 2 to 3 years</p>
					</div>
				</div>
                
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="pfy-end-date-hint" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							End of current financial year 
						</legend>
					    <div id="pfy-end-date-hint" class="govuk-hint">
						    For example, 01 09 2022
					    </div>
                            <a href="#PFYFinancialEndDateNotEntered" class="@(Model.CFYFinancialEndDateError ? "govuk-error-message" : "govuk-visually-hidden")">
						    You must select financial year end date
					    </a>
					    <govuk-date field-name="@Model.CFYEndDateFormInputName"
					        field-data="@Model.CFYEndDate"
						    field-day="@Model.CFYEndDateDay"
						    field-month="@Model.CFYEndDateMonth"
						    field-year="@Model.CFYEndDateDateYear">
					    </govuk-date>
                    </fieldset>
				</div>

				<div class="govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
					<fieldset class="govuk-fieldset" role="group" aria-describedby="">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Forecasted revenue carry forward at end of the current financial year (31 March)
						</legend>
						<div class="govuk-form-group">
							<input type="number" asp-for="Revenue" id="Revenue" class="govuk-input govuk-input--width-20"/>
						</div>

						<div class="govuk-form-group">
							@foreach (var revenueType in Enum.GetValues(typeof(RevenueType)).OfType<RevenueType>())
	                        {
		                        <div class="govuk-radios__item">
			                        <input type="radio"
			                               asp-for="CFYRevenueStatus"
			                               value="@Convert.ToInt32(revenueType)"
			                               id="revenueRevenueType@(revenueType)"
			                               class="govuk-radios__input"
											data-aria-controls="revenueType-@(revenueType.ToString().ToLower())"
											checked="@(revenueType.Equals(Model.CFYRevenueStatus))"
			                               aria-expanded="False" />
	                                <label for="revenueType@(revenueType)" class="govuk-label govuk-radios__label">
				                        @revenueType.GetDescription()
			                        </label>
		                        </div>

	                            @if (revenueType == RevenueType.Deficit)
	                            {
                                    <div class="@(Model.CFYRevenueStatusExplainedError ? "govuk-form-group--error" : "govuk-radios__conditional")
				                                @(revenueType == RevenueType.Surplus ? "govuk-radios__conditional--hidden" : "")"
												id="revenueType-deficit" aria-expanded="false">
	                                    <a href="#PFYRevenueStatusExplainedNotEntered"
												class="@(Model.CFYRevenueStatusExplainedError ? "govuk-error-message" : "govuk-visually-hidden")">
	                                            You must enter the reason for the revenue deficit or upload a file
	                                        </a>
		                                    <label for="revenueType-deficit" class="govuk-label">
			                                    Explain the reason for the deficit, how the school plan to deal with it, and the recovery plan.
		                                    </label>
		                                    <span class="govuk-hint">
			                                    Provide details of the financial forecast and/or the deficit recovery plan agreed with the local authority 
		                                    </span>
	                                        <textarea asp-for="CFYRevenueStatusExplained" id="PFYRevenueStatusExplained"
	                                          class="govuk-textarea" cols="40" rows="5" maxlength="200"></textarea>
                                            <p class="govuk-label">
									            You can upload the school’s recovery plan.
								            </p>
	                                    <span class="govuk-hint">
		                                    We prefer schools to set out their income and expenditure using the
		                                    <a href="https://www.gov.uk/guidance/consistent-financial-reporting-framework-cfr"
		                                       target="_blank" class="govuk-link" rel="noopener">consistent financial reporting</a>
		                                    codes.
	                                    </span>
	                                    <div class="govuk-form-group @(Model.SchoolCFYRevenueFileSizeError || Model.SchoolCFYRevenueFileGenericError ? "govuk-form-group--error" : "")">

		                                    <label for="Upload-SchoolCFYRevenueStatusFile" class="govuk-label">
			                                    Upload a file
		                                    </label>
		                                    <br/>
		                                    <p id="file-upload-schoolCFYRevenueFileSize-error" class="govuk-error-message @(!Model.SchoolCFYRevenueFileSizeError ? "govuk-visually-hidden" : "")">
			                                    <span class="govuk-visually-hidden">Error:</span> The file must be smaller than 5MB
		                                    </p>
		                                    <p id="file-upload-schoolCFYRevenueFile-genericError" class="govuk-error-message @(!Model.SchoolCFYRevenueFileGenericError ? "govuk-visually-hidden" : "")">
			                                    <span class="govuk-visually-hidden">Error:</span> The selected file could not be uploaded – try again
		                                    </p>
		                                    <input id="schoolCfyRevenueFileUpload"
		                                           type="file"
		                                           accept=".doc,.docx,.pptx,.pdf"
		                                           class="govuk-label"
		                                           aria-describedby="file-upload-schoolCFYRevenueFileSize-error"
		                                           multiple
		                                           asp-for="@Model.SchoolCfyRevenueStatusFiles"/>
	                                    </div>
		                                    <partial name="Shared/_FileUploadPartial" model="new FileUploadViewModel { ApplicationId = Model.ApplicationId, Urn = Model.Urn, EntityId = Model.EntityId, ApplicationReference = Model.ApplicationReference, FileNames = Model.SchoolCFYRevenueStatusFileNames, FilePrefixSection = FileUploadConstants.SchoolCFYRevenueStatusFile }"/>

	                                    </div>
	                            }
	                        }
						</div>

					</fieldset>
				</div>

                <div class="govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
	                <fieldset class="govuk-fieldset">
		                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
			                Forecasted capital carry forward at end of the current financial year (31 March)
		                </legend>
		                <div class="govuk-form-group">
                            <input type="number" asp-for="CapitalCarryForward" id="CapitalCarryForward" class="govuk-input govuk-input--width-20" />
		                </div>                        

		                <div class="govuk-form-group">
			                @foreach (var capitalCarryForwardStatus in Enum.GetValues(typeof(RevenueType)).OfType<RevenueType>())
			                {
				                <div class="govuk-radios__item">
					                <input type="radio"
	                                       asp-for="CFYCapitalCarryForwardStatus"
					                       value="@Convert.ToInt32(capitalCarryForwardStatus)"
					                       id="capitalRevenueType@(capitalCarryForwardStatus)"
					                       class="govuk-radios__input"
	                                       data-aria-controls="capitalCarryForwardStatus-@(capitalCarryForwardStatus.ToString().ToLower())"
	                                       checked="@(capitalCarryForwardStatus.Equals(Model.CFYCapitalCarryForwardStatus))"
					                       aria-expanded="False"/>
					                <label for="revenueType@(capitalCarryForwardStatus)" class="govuk-label govuk-radios__label">
						                @capitalCarryForwardStatus.GetDescription()
					                </label>
				                </div>

				                @if (capitalCarryForwardStatus == RevenueType.Deficit)
				                {
                                    <div class="@(Model.CFYCapitalCarryForwardStatusExplainedError ? "govuk-form-group--error" : "govuk-radios__conditional")
					                                @(capitalCarryForwardStatus == RevenueType.Surplus ? "govuk-radios__conditional--hidden" : "")"
										id="capitalCarryForwardStatus-deficit" aria-expanded="false">

                                        <a href="#PFYCapitalCarryForwardStatusExplainedNotEntered"
											class="@(Model.CFYCapitalCarryForwardStatusExplainedError ? "govuk-error-message" : "govuk-visually-hidden")">
							                You must enter the reason for the capital carry forward deficit or upload a file
						                </a>
                                        <label for="capitalCarryForwardStatus-deficit" class="govuk-label">
							                Explain the reason for the deficit, how the school plan to deal with it, and the recovery plan.
						                </label>
						                <span class="govuk-hint">
							                Provide details of the financial forecast and/or the deficit recovery plan agreed with the local authority 
						                </span>
						                <textarea asp-for="CFYCapitalCarryForwardExplained" id="PFYCapitalCarryForwardExplained"
						                          class="govuk-textarea" cols="40" rows="5" maxlength="200"></textarea>
                                        <p class="govuk-label">
							                You can upload the school’s recovery plan.
						                </p>
	                                    <span class="govuk-hint">
		                                    We prefer schools to set out their income and expenditure using the
		                                    <a href="https://www.gov.uk/guidance/consistent-financial-reporting-framework-cfr"
		                                       target="_blank" class="govuk-link" rel="noopener">consistent financial reporting</a>
		                                    codes.
	                                    </span>
	                                    <div class="govuk-form-group @(Model.SchoolCFYCapitalFileSizeError || Model.SchoolCFYCapitalFileGenericError ? "govuk-form-group--error" : "")">
                                        						
		                                    <label for="Upload-SchoolCFYCapitalForwardFile" class="govuk-label">
			                                    Upload a file
		                                    </label>
		                                    <p id="file-upload-schoolCFYCapitalFileSize-error" class="govuk-error-message @(!Model.SchoolCFYCapitalFileSizeError ? "govuk-visually-hidden" : "")">
			                                    <span class="govuk-visually-hidden">Error:</span> The file must be smaller than 5MB
		                                    </p>
		                                    <p id="file-upload-schoolCFYCapitalFile-genericError" class="govuk-error-message @(!Model.SchoolCFYCapitalFileGenericError ? "govuk-visually-hidden" : "")">
			                                    <span class="govuk-visually-hidden">Error:</span> The selected file could not be uploaded – try again
		                                    </p>
		                                    
		                                    <input id="schoolCfyCapitalFileUpload"
		                                           type="file"
		                                           accept=".doc,.docx,.pptx,.pdf"
		                                           class="govuk-label"
		                                           aria-describedby="file-upload-schoolCFYCapitalFileSize-error"
		                                           multiple
		                                           asp-for="@Model.SchoolCFYCapitalForwardFiles" />
	                                    
	                                    </div>
	                                    <partial name="Shared/_FileUploadPartial" model="new FileUploadViewModel{ ApplicationId = Model.ApplicationId, Urn = Model.Urn, EntityId = Model.EntityId, ApplicationReference = Model.ApplicationReference, FileNames = Model.SchoolCFYCapitalForwardFileNames, FilePrefixSection = FileUploadConstants.SchoolCFYCapitalForwardFile}" />

                                    </div>
								}
			                }
		                </div>
	                </fieldset>
                </div>
			</fieldset>
        <br />

		<input type="submit" value="Save and continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>