@page
@using Dfe.Academies.External.Web.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.FinancesReviewModel
@{
	ViewData["Title"] = "Apply to become an academy - About the conversion";
}

@section BeforeMain
{
	<a asp-page="../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back to application overview</a>
}

<div class="govuk-grid-column-full">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
		Finances
	</h1>

    @*    <p id="summaryTableDescription" class="govuk-body">Application School Finances Summary</p>*@
	@foreach (var heading in Model.ViewModel)
	{
		<h1 class="govuk-heading-m">
			@heading.Title
		</h1>
        <table class="govuk-table" aria-describedby="summaryTableDescription">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						@if (heading.Status == SchoolConversionComponentStatus.NotStarted)
						{
							<a asp-page="@heading.URI" aria-describedby="component-not started" class="govuk-button govuk-button--secondary"
							   asp-route-appId="@Model.ApplicationId"
							   asp-route-urn="@Model.Urn">
								Start section
							</a>
						}
						else
						{
							<a asp-page="@heading.URI" aria-describedby="component-change" class="govuk-link"
							   asp-route-appId="@Model.ApplicationId"
							   asp-route-urn="@Model.Urn">
								Change your answers
							</a>
						}
					</td>
					<td class="govuk-table__cell"></td>
				</tr>
				@foreach (var conversionComponent in heading.Sections)
				{
					<partial name="_SchoolConversionComponentPartial" model="@conversionComponent"/>
				}
			</tbody>
		</table>
		<div class="govuk-!-margin-6"></div>
	}

	<a asp-page="../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-button" data-module="govuk-button">Save and return to your application</a>
</div>
<input type="hidden" asp-for="Urn" />
<partial name="_HiddenFields" />
