@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.FurtherInformationSummaryModel
@{
	ViewData["Title"] = "About the conversion";
}

@section BeforeMain
{
	<partial name="Shared/_BackLink" model='new BackViewModel { ApplicationId = Model.ApplicationId, SchoolURN = Model.Urn, ApplicationType = Model.ApplicationType }'/>
}
<div class="govuk-grid-column-full">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
		Further information
	</h1>

	@foreach (var question in Model.ViewModel)
	{
		<h1 class="govuk-heading-m">
			@question.Title
		</h1>
		
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				@if (question.Status == SchoolConversionComponentStatus.NotStarted)
				{
					<a asp-page="@question.URI" class="govuk-button govuk-button--secondary"
					   asp-route-appId="@Model.ApplicationId"
					   asp-route-urn="@Model.Urn"
             data-cy="startSectionButton">
						Start section
					</a>
				}
                
				else if(Model.ApplicationStatus != ApplicationStatus.Submitted)
				{
					<a asp-page="@question.URI" class="govuk-link"
					   asp-route-appId="@Model.ApplicationId"
					   asp-route-urn="@Model.Urn">
						Change your answers
					</a>
				}
			</div>
		</div>
		<hr/>
		@foreach (var conversionComponent in question.Sections)
		{
			<partial name="_SchoolConversionComponentPartial" model="@conversionComponent"/>
		}
	}

	<partial name="Shared/_BackButton" model='new BackViewModel { ApplicationId = Model.ApplicationId, SchoolURN = Model.Urn, ApplicationType = Model.ApplicationType }'/>
</div>
<input type="hidden" asp-for="Urn" />