@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.LandAndBuildingsModel
@{
    ViewData["Title"] = "Land and buildings";
}

@section BeforeMain
    {
    <a asp-page="LandAndBuildingsSummary" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">Back</a>
}

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
            @Model.SchoolName
        </span>
        <h1 class="govuk-heading-l">
            Land and buildings
        </h1>

        <form method="post" name="frmLandAndBuildings" novalidate="">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Urn" />
            <input type="hidden" asp-for="ApplicationId" />
            <partial name="_HiddenFields" />

            <div>
                <fieldset class="govuk-fieldset">
                    <div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
                        <partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel" />
                    </div>

                    <div class="govuk-form-group @(Model.IsPropertyInvalid("SchoolBuildLandOwnerExplained") ? "govuk-form-group--error" : "")">
                        <label for="SchoolBuildLandOwnerExplained" class="govuk-label">As far as you're aware, who owns or holds the school's buildings and land?</label>
                        <p id="SchoolBuildLandOwnerExplained-error" class="@(Model.IsPropertyInvalid("SchoolBuildLandOwnerExplained") ? "govuk-error-message" : "govuk-visually-hidden")">
                            <span class="govuk-visually-hidden">Error:</span> You must provide details
                        </p>
                        <textarea asp-for="SchoolBuildLandOwnerExplained" id="SchoolBuildLandOwnerExplained"
                              class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                    </div>

                    <div id="SchoolBuildLandWorksPlanned" class="@(Model.IsPropertyInvalid("SchoolBuildLandWorksPlanned") ? "govuk-form-group--error" : "") govuk-radios govuk-radios--conditional govuk-form-group" data-module="govuk-radios">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="works-planned-date-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Are there any current or planned building works?
                            </legend>
                            <p id="SchoolBuildLandWorksPlanned-error" class="@(Model.IsPropertyInvalid("SchoolBuildLandWorksPlanned") ? "govuk-error-message" : "govuk-visually-hidden")">
                                <span class="govuk-visually-hidden">Error:</span> You must provide details
                            </p>
                        @foreach (var buildingWorksOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                        {
                            <div class="govuk-radios__item">
                                <input type="radio"
                                   asp-for="SchoolBuildLandWorksPlanned"
                                   value="@Convert.ToInt32(buildingWorksOption)"
                                   id="buildingWorksOption@(buildingWorksOption)"
                                   class="govuk-radios__input"
                                   data-aria-controls="buildingWorksOption-@(buildingWorksOption.ToString().ToLower())"
                                   checked="@(buildingWorksOption.Equals(ViewData.Model.SchoolBuildLandWorksPlanned))"
                                   aria-expanded="False" />
                                <label for="buildingWorksOption@(buildingWorksOption)" class="govuk-label govuk-radios__label">
                                    @buildingWorksOption.GetDescription()
                                </label>
                            </div>
                            @if (buildingWorksOption == SelectOption.Yes)
                            {
                                <div class="govuk-radios__conditional
			                                            @(buildingWorksOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "")"
                             id="buildingWorksOption-yes" aria-expanded="false">
                                    <div class="govuk-form-group @(Model.IsPropertyInvalid("SchoolBuildLandWorksPlannedExplainedNotEntered") ? "govuk-form-group--error" : "")">
                                        <label class="@(Model.SchoolBuildLandWorksPlannedError ? "govuk-error-message" : "govuk-visually-hidden")">
                                            You must provide details of the works
                                        </label>
                                        <label for="SchoolBuildLandWorksPlannedExplained" class="govuk-label">Provide details of the works, how they’ll be funded and whether the funding will be affected by the conversion</label>
                                        <div id="SchoolBuildLandWorksPlannedExplainedNotEntered">
                                            <textarea asp-for="SchoolBuildLandWorksPlannedExplained" id="SchoolBuildLandWorksPlannedExplained"
                                              class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                        </div>
                                    </div>
                                    <div id="SchoolBuildLandWorksPlannedDateNotEntered" class="govuk-form-group @(Model.IsPropertyInvalid("SchoolBuildLandWorksPlannedDateNotEntered") ? "govuk-form-group--error" : "")">

                                        <div class="govuk-!-margin-6"></div>
                                        <div id="works-planned-date-hint" class="govuk-hint">
                                            For example, 01 09 2022
                                        </div>
                                        <label class="@(Model.SchoolBuildLandWorksPlannedDateError ? "govuk-error-message" : "govuk-visually-hidden")">
                                            You must select a scheduled date
                                        </label>
                                        <govuk-date field-name="@Model.PlannedDateFormInputName"
                                            field-data="@Model.WorksPlannedDate"
                                            field-day="@Model.WorksPlannedDateDay"
                                            field-month="@Model.WorksPlannedDateMonth"
                                            field-year="@Model.WorksPlannedDateYear">
                                        </govuk-date>
                                    </div>
                                </div>
                            }
                        }
                    </fieldset>
                </div>

                <div id="SchoolBuildLandSharedFacilities" class="@(Model.IsPropertyInvalid("SchoolBuildLandSharedFacilities") ? "govuk-form-group--error" : "") govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Are there any shared facilities on site?
                        </legend>
                        <span class="govuk-hint govuk-body govuk-!-margin-bottom-5">
                            For example, a nursery, children’s centre, swimming pool, leisure centre, caretaker’s house, community library or SEN unit
                        </span>
                        <p id="SchoolBuildLandSharedFacilities-error" class="@(Model.IsPropertyInvalid("SchoolBuildLandSharedFacilities") ? "govuk-error-message" : "govuk-visually-hidden")">
                            <span class="govuk-visually-hidden">Error:</span> You must provide details
                        </p>
                        @foreach (var sharedFacilitiesOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                        {
                            <div class="govuk-radios__item">
                                <input type="radio"
                                   asp-for="SchoolBuildLandSharedFacilities"
                                   value="@Convert.ToInt32(sharedFacilitiesOption)"
                                   id="sharedFacilitiesOption@(sharedFacilitiesOption)"
                                   class="govuk-radios__input"
                                   data-aria-controls="sharedFacilitiesOption-@(sharedFacilitiesOption.ToString().ToLower())"
                                   checked="@(sharedFacilitiesOption.Equals(ViewData.Model.SchoolBuildLandSharedFacilities))"
                                   aria-expanded="False" />
                                <label for="sharedFacilitiesOption@(sharedFacilitiesOption)" class="govuk-label govuk-radios__label">
                                    @sharedFacilitiesOption.GetDescription()
                                </label>
                            </div>
                            @if (sharedFacilitiesOption == SelectOption.Yes)
                            {
                                <div class="govuk-radios__conditional @(sharedFacilitiesOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "")"
                             id="sharedFacilitiesOption-yes" aria-expanded="false">
                                    <div id="SchoolBuildLandSharedFacilitiesExplainedNotEntered" class="govuk-form-group @(Model.IsPropertyInvalid("SchoolBuildLandSharedFacilitiesExplainedNotEntered") ? "govuk-form-group--error" : "")">
                                        <label class="@(Model.SchoolBuildLandSharedFacilitiesExplainedError ? "govuk-error-message" : "govuk-visually-hidden")">
                                            You must provide list of these facilities
                                        </label>
                                        <label for="SchoolBuildLandSharedFacilitiesExplained" class="govuk-label">List these facilities and the school’s plan for them after converting</label>
                                        <textarea asp-for="SchoolBuildLandSharedFacilitiesExplained" id="SchoolBuildLandSharedFacilitiesExplained"
                                          class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                    </div>
                                </div>
                            }
                        }
                    </fieldset>
                </div>

                <div id="SchoolBuildLandGrants" class="@(Model.IsPropertyInvalid("SchoolBuildLandGrants") ? "govuk-form-group--error" : "") govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Has the school had any grants from Sport England, the Big Lottery Fund, or the Football Federation?
                        </legend>
                        <p id="SchoolBuildLandGrants-error" class="@(Model.IsPropertyInvalid("SchoolBuildLandGrants") ? "govuk-error-message" : "govuk-visually-hidden")">
                            <span class="govuk-visually-hidden">Error:</span> You must provide details
                        </p>
                        @foreach (var landGrantsOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                        {
                            <div class="govuk-radios__item">
                                <input type="radio"
                                   asp-for="SchoolBuildLandGrants"
                                   value="@Convert.ToInt32(landGrantsOption)"
                                   id="landGrantsOption@(landGrantsOption)"
                                   class="govuk-radios__input"
                                   data-aria-controls="landGrantsOption-@(landGrantsOption.ToString().ToLower())"
                                   checked="@(landGrantsOption.Equals(ViewData.Model.SchoolBuildLandGrants))"
                                   aria-expanded="False" />
                                <label for="landGrantsOption@(landGrantsOption)" class="govuk-label govuk-radios__label">
                                    @landGrantsOption.GetDescription()
                                </label>
                            </div>
                            @if (landGrantsOption == SelectOption.Yes)
                            {

                                <div class="govuk-radios__conditional @(landGrantsOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "")" id="landGrantsOption-yes" aria-expanded="false">

                                    <div id="SchoolBuildLandGrantsBodiesNotEntered" class="govuk-form-group @(Model.SchoolBuildLandGrantsBodiesError ? "govuk-form-group--error" : "")">
                                        <label class="@(Model.SchoolBuildLandGrantsBodiesError ? "govuk-error-message" : "govuk-visually-hidden")">
                                            You must provide list of these facilities
                                        </label>
                                        <label for="SchoolBuildLandGrantsBodies" class="govuk-label">Which bodies awarded the grants and what facilities did they fund?</label>
                                        <textarea asp-for="SchoolBuildLandGrantsBodies" id="SchoolBuildLandGrantsBodies"
                                          class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                    </div>

                                </div>
                            }
                        }
                    </fieldset>
                </div>

                <div id="SchoolBuildLandPFIScheme" class="@(Model.IsPropertyInvalid("SchoolBuildLandPFIScheme") ? "govuk-form-group--error" : "") govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Is the school part of a Private Finance Initiative (PFI) scheme?
                        </legend>
                        <p id="SchoolBuildLandPFIScheme-error" class="@(Model.IsPropertyInvalid("SchoolBuildLandPFIScheme") ? "govuk-error-message" : "govuk-visually-hidden")">
                            <span class="govuk-visually-hidden">Error:</span> You must provide details
                        </p>
                        @foreach (var pfiSchemeOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                        {
                            <div class="govuk-radios__item">
                                <input type="radio"
                                   asp-for="SchoolBuildLandPFIScheme"
                                   value="@Convert.ToInt32(pfiSchemeOption)"
                                   id="pfiSchemeOption@(pfiSchemeOption)"
                                   class="govuk-radios__input"
                                   data-aria-controls="pfiSchemeOption-@(pfiSchemeOption.ToString().ToLower())"
                                   checked="@(pfiSchemeOption.Equals(ViewData.Model.SchoolBuildLandPFIScheme))"
                                   aria-expanded="False" />
                                <label for="pfiSchemeOption@(pfiSchemeOption)" class="govuk-label govuk-radios__label">
                                    @pfiSchemeOption.GetDescription()
                                </label>
                            </div>
                            @if (pfiSchemeOption == SelectOption.Yes)
                            {

                                <div class="govuk-radios__conditional @(pfiSchemeOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "")" id="pfiSchemeOption-yes" aria-expanded="false">
                                    <div id="SchoolBuildLandPFISchemeTypeNotEntered" class="govuk-form-group @(Model.SchoolBuildLandPFISchemeTypeError ? "govuk-form-group--error" : "")">
                                        <label class="@(Model.SchoolBuildLandPFISchemeTypeError ? "govuk-error-message" : "govuk-visually-hidden")">
                                            You must provide type of PFI scheme
                                        </label>
                                        <label for="pfiSchemeOption-yes" class="govuk-label">What kind of a PFI scheme is your school part of?</label>
                                        <input type="text" asp-for="SchoolBuildLandPFISchemeType" id="SchoolBuildLandPFISchemeType" class="govuk-input govuk-input--width-20" maxlength="100" />
                                    </div>
                                </div>
                            }
                        }
                    </fieldset>
                </div>

                <div id="SchoolBuildLandPriorityBuildingProgramme" class=" @(Model.IsPropertyInvalid("SchoolBuildLandPriorityBuildingProgramme") ? "govuk-form-group--error" : "") govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Is the school part of the Priority School Building Programme?
                        </legend>
                        <p id="SchoolBuildLandPriorityBuildingProgramme-error" class="@(Model.IsPropertyInvalid("SchoolBuildLandPriorityBuildingProgramme") ? "govuk-error-message" : "govuk-visually-hidden")">
                            <span class="govuk-visually-hidden">Error:</span> You must provide details
                        </p>
                        @foreach (var priorityBuildingProgrammeOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                        {
                            <div class="govuk-radios__item">
                                <input type="radio"
                                   asp-for="SchoolBuildLandPriorityBuildingProgramme"
                                   value="@Convert.ToInt32(priorityBuildingProgrammeOption)"
                                   id="SchoolBuildLandPriorityBuildingProgramme@(priorityBuildingProgrammeOption)"
                                   class="govuk-radios__input"
                                   data-aria-controls="SchoolBuildLandPriorityBuildingProgramme-@(priorityBuildingProgrammeOption.ToString().ToLower())"
                                   checked="@(priorityBuildingProgrammeOption.Equals(ViewData.Model.SchoolBuildLandPriorityBuildingProgramme))"
                                   aria-expanded="False" />
                                <label for="SchoolBuildLandPriorityBuildingProgramme@(priorityBuildingProgrammeOption)" class="govuk-label govuk-radios__label">
                                    @priorityBuildingProgrammeOption.GetDescription()
                                </label>
                            </div>
                        }
                    </fieldset>
                </div>
                <div id="SchoolBuildLandFutureProgramme" class="govuk-form-group @(Model.IsPropertyInvalid("SchoolBuildLandFutureProgramme") ? "govuk-form-group--error" : "") ">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Is the school part of the Building Schools for the Future Programme?
                        </legend>
                        <p id="SchoolBuildLandFutureProgramme-error" class="@(Model.IsPropertyInvalid("SchoolBuildLandFutureProgramme") ? "govuk-error-message" : "govuk-visually-hidden")">
                            <span class="govuk-visually-hidden">Error:</span> You must provide details
                        </p>
                        @foreach (var futureProgrammeOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x.ToString()))
                        {
                            <div class="govuk-radios__item">
                                <input type="radio"
                                   asp-for="SchoolBuildLandFutureProgramme"
                                   value="@Convert.ToInt32(futureProgrammeOption)"
                                   id="SchoolBuildLandFutureProgramme@(futureProgrammeOption)"
                                   class="govuk-radios__input"
                                   data-aria-controls="SchoolBuildLandFutureProgramme-@(futureProgrammeOption.ToString().ToLower())"
                                   checked="@(futureProgrammeOption.Equals(ViewData.Model.SchoolBuildLandFutureProgramme))"
                                   aria-expanded="False" />
                                <label for="SchoolBuildLandFutureProgramme@(futureProgrammeOption)" class="govuk-label govuk-radios__label">
                                    @futureProgrammeOption.GetDescription()
                                </label>
                            </div>
                        }
                    </fieldset>
                </div>
            </fieldset>
        </div>
        <br />
        <input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" />
    </form>
</div>
