@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.LandAndBuildingsModel
@{
	ViewData["Title"] = "Apply to become an academy - Land and buildings";
}

@section BeforeMain
{
	<a asp-page="LandAndBuildingsSummary" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">Back to land and buildings summary</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
		Land and buildings
	</h1>

	<form method="post" name="frmLandAndBuildings" novalidate="">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>		
		<partial name="_HiddenFields"/>
		
		<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
			<fieldset class="govuk-fieldset">
				<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
				</div>
				
				<div class="govuk-form-group">
					<label for="SchoolBuildLandOwnerExplained" class="govuk-label">As far as you're aware, who owns or holds the school's buildings and land?</label>
					<textarea asp-for="SchoolBuildLandOwnerExplained" id="SchoolBuildLandOwnerExplained" class="govuk-textarea" cols="40" rows="5" maxlength="200"></textarea>
				</div>

				<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
					<fieldset class="govuk-fieldset" role="group" aria-describedby="works-planned-date-hint">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Are there any current or planned building works?
						</legend>
						@foreach (var buildingWorksOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>())
						{
							<div class="govuk-radios__item">
								<input type="radio"
								       asp-for="SchoolBuildLandWorksPlanned"
								       value="@Convert.ToInt32(buildingWorksOption)"
								       id="buildingWorksOption@(buildingWorksOption)"
								       class="govuk-radios__input"
								       data-aria-controls="buildingWorksOption-@(buildingWorksOption.ToString().ToLower())"
								       aria-expanded="False"/>
								<label for="selectoption@(buildingWorksOption)" class="govuk-label govuk-radios__label">
									@buildingWorksOption.GetDescription()
								</label>
							</div>
							@if (buildingWorksOption == SelectOption.Yes || Model.SchoolBuildLandWorksPlanned == SelectOption.Yes)
							{
								<div class="@(Model.HasError ? "govuk-form-group--error" : "govuk-radios__conditional")
			                                            @(buildingWorksOption == SelectOption.No ? "govuk-radios__conditional--hidden" : "")"
														id="buildingWorksOption-yes" aria-expanded="false">
									<div class="govuk-form-group govuk-error-summary__list">
										<a href="#TargetDateExplainedNotEntered" class="@(Model.SchoolBuildLandWorksPlannedError ? "govuk-error-message" : "govuk-visually-hidden")">
											You must Provide details of the works
										</a>
										<label for="buildingWorksOption-yes" class="govuk-label">Provide details of the works, how they’ll be funded and whether the funding will be affected by the conversion</label>
										<textarea asp-for="SchoolBuildLandWorksPlannedExplained" id="SchoolBuildLandWorksPlannedExplained" class="govuk-textarea" cols="40" rows="5" maxlength="200"></textarea>
										<div class="govuk-!-margin-6"></div>
										<div id="works-planned-date-hint" class="govuk-hint">
											For example, 01 09 2022
										</div>
										<a href="#SchoolBuildLandWorksPlannedDateNotEntered" class="@(Model.SchoolBuildLandWorksPlannedDateError ? "govuk-error-message" : "govuk-visually-hidden")">
											You must select a scheduled date
										</a>
										<govuk-date field-name="SchoolBuildLandWorksPlannedDate"
										            field-data="@Model.SchoolBuildLandWorksPlannedDate"
										            field-day="@Model.WorksPlannedDateDay"
										            field-month="@Model.WorksPlannedDateMonth"
										            field-year="@Model.WorksPlannedDateYear">
										</govuk-date>
									</div>
								</div>
							}
						}
					</fieldset>
				</div>

				<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
					<fieldset class="govuk-fieldset" role="group">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Are there any shared facilities on site?
						</legend>
						// TODO MR:- shared facilities - conditional radio
						// SchoolBuildLandSharedFacilitiesExplained
					</fieldset>
				</div>

				<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
					<fieldset class="govuk-fieldset" role="group">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Has the school had any grants from Sport England, the Big Lottery Fund, or the Football Federation?
						</legend>
						// TODO MR:- grants - conditional radio
						// SchoolBuildLandGrantsBody - text
					</fieldset>
				</div>
				
				<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
					<fieldset class="govuk-fieldset" role="group">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Is the school part of a Private Finance Initiative (PFI) scheme?
						</legend>
						// TODO MR:- PFI - conditional radio
						// SchoolBuildLandPFISchemeType - text
					</fieldset>
				</div>
				
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Is the school part of the Priority School Building Programme?
						</legend>
						@foreach (var priorityBuildingProgrammeOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>())
						{
							<div class="govuk-radios__item">
								<input type="radio"
								   asp-for="SchoolBuildLandPriorityBuildingProgramme"
								   value="@Convert.ToInt32(priorityBuildingProgrammeOption)"
								   id="SchoolBuildLandPriorityBuildingProgramme@(priorityBuildingProgrammeOption)"
								   class="govuk-radios__input"
								   data-aria-controls="SchoolBuildLandPriorityBuildingProgramme-@(priorityBuildingProgrammeOption.ToString().ToLower())"
								   aria-expanded="False" />
								<label for="SchoolBuildLandPriorityBuildingProgramme@(priorityBuildingProgrammeOption)" class="govuk-label govuk-radios__label">
									@priorityBuildingProgrammeOption.GetDescription()
								</label>
							</div>
						}
					</fieldset>
				</div>
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Is the school part of the Building Schools for the Future Programme?
						</legend>
						@foreach (var futureProgrammeOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>())
						{
							<div class="govuk-radios__item">
								<input type="radio"
								       asp-for="SchoolBuildLandFutureProgramme"
								       value="@Convert.ToInt32(futureProgrammeOption)"
								       id="SchoolBuildLandFutureProgramme@(futureProgrammeOption)"
								       class="govuk-radios__input"
								       data-aria-controls="SchoolBuildLandFutureProgramme-@(futureProgrammeOption.ToString().ToLower())"
								       aria-expanded="False"/>
								<label for="SchoolBuildLandFutureProgramme@(futureProgrammeOption)" class="govuk-label govuk-radios__label">
									@futureProgrammeOption.GetDescription()
								</label>
							</div>
						}
					</fieldset>
				</div>
			</fieldset>
		</div>
		<br/>
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>
