@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.LeaseDetails
@{
	ViewData["Title"] = "About the conversion";
}
@section BeforeMain
{
	<a asp-page="Leases" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
	<h1 class="govuk-heading-l">
		<span class="govuk-caption-l">Finances (Step 5 of 6)</span>
		Lease Details
	</h1>
    <form method="post" name="frmLeaseDetails" novalidate="">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Urn" />
        <input type="hidden" asp-for="ApplicationId" />
        <input type="hidden" asp-for="Id"/>
        <partial name="_HiddenFields" />
        
        <div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
	        <div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
			        <partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
		        </div>
		        
		        <div class="govuk-form-group">
			        <label for="LeaseTerm" class="govuk-fieldset__legend govuk-fieldset__legend--s">Term of the finance lease agreement</label>
			        <textarea asp-for="LeaseTerm" id="LeaseTerm" class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
			        
			        <label for="RepaymentAmount" class="govuk-fieldset__legend govuk-fieldset__legend--s">Repayment value</label>
			        <div id="RepaymentAmountError" class="govuk-form-group">
				        <input type="number" asp-for="RepaymentAmount" id="RepaymentAmount" class="govuk-input govuk-input--width-20"/>
			        </div>
			        
			        <label for="InterestRate" class="govuk-fieldset__legend govuk-fieldset__legend--s">Interest rate chargeable</label>
			        <div id="InterestRateAmountError" class="govuk-form-group">
				        <input type="decimal" asp-for="InterestRate" id="InterestRate" class="govuk-input govuk-input--width-20"/>
			        </div>
			        
			        <label for="PaymentsToDate" class="govuk-fieldset__legend govuk-fieldset__legend--s">Value of the payments made to date</label>
			        <div id="PaymentsToDateAmountError" class="govuk-form-group">
				        <input type="text" asp-for="PaymentsToDate" id="PaymentsToDate" class="govuk-input govuk-input--width-20"/>
			        </div>
			        
			        <label for="Purpose" class="govuk-fieldset__legend govuk-fieldset__legend--s">What was the finance lease for?</label>
			        <div class="govuk-form-group">
				        <input type="text" asp-for="Purpose" id="Purpose" class="govuk-input govuk-input--width-20"/>
			        </div>
                    <div class="govuk-form-group">
			        <label for="ValueOfAssets" class="govuk-fieldset__legend govuk-fieldset__legend--s">Value of the assets at the start of the finance lease agreement</label>
			        <textarea asp-for="ValueOfAssets" id="ValueOfAssets" class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
			        </div>
                    <div class="govuk-form-group">
			        <label for="ResponsibleForAssets" class="govuk-fieldset__legend govuk-fieldset__legend--s">Who is responsible for the insurance, repair and maintenance of the assets covered?</label>
			        <textarea asp-for="ResponsibleForAssets" id="ResponsibleForAssets" class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                    </div>
		        </div>
        </div>
		<br />
        
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>
