@page
@model Dfe.Academies.External.Web.Pages.School.PupilNumbersModel
@{
	ViewData["Title"] = "Apply to become an academy - School Pupil Numbers";
}

@section BeforeMain
{
	<a asp-page="SchoolOverview" class="govuk-back-link">Back to school overview</a>
}

<div class="govuk-grid-column-two-thirds">
	<h1 class="govuk-heading-xl">@Model.SchoolName</h1>

	<p class="govuk-body">
		<strong>Application reference number:</strong>&nbsp;&nbsp;@Model.ApplicationReferenceNumber
	</p>

	<form method="post" name="frmPupilNumbers" novalidate="">
		@Html.AntiForgeryToken()
		<input type="hidden" value="@Model.SchoolId"/>
		<partial name="_HiddenFields"/>

		<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
			<fieldset class="govuk-fieldset">
				<legend id="role-hint" class="govuk-fieldset__legend">Future pupil numbers</legend>
				<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
				</div>
				
				<div class="govuk-form-group">
					<label for="SchoolCapacityPublishedAdmissionsNumber" class="govuk-label">What is the school's published admissions number (PAN) ?</label>
					<input type="number" asp-for="SchoolCapacityPublishedAdmissionsNumber" id="SchoolCapacityPublishedAdmissionsNumber" class="govuk-input govuk-input--width-20"/>
				</div>

				<div class="govuk-form-group">
					<label for="ProjectedPupilNumbersYear1" class="govuk-label">What is the projected pupil number for the academy's first year?</label>
					<input type="number" asp-for="ProjectedPupilNumbersYear1" id="ProjectedPupilNumbersYear1" class="govuk-input govuk-input--width-20"/>
				</div>
				<div class="govuk-form-group">
					<label for="ProjectedPupilNumbersYear2" class="govuk-label">What is the projected pupil number for the academy's second year?</label>
					<input type="number" asp-for="ProjectedPupilNumbersYear2" id="ProjectedPupilNumbersYear2" class="govuk-input govuk-input--width-20"/>
				</div>
				<div class="govuk-form-group">
					<label for="ProjectedPupilNumbersYear3" class="govuk-label">What is the projected pupil number for the academy's third year?</label>
					<input type="number" asp-for="ProjectedPupilNumbersYear3" id="ProjectedPupilNumbersYear3" class="govuk-input govuk-input--width-20"/>
				</div>
				<div class="govuk-form-group">
					<label for="SchoolCapacityAssumptions" class="govuk-label">What are your projected pupil numbers based on?</label>
					<textarea asp-for="SchoolCapacityAssumptions" id="SchoolCapacityAssumptions" class="govuk-textarea" cols="40" rows="5"></textarea>
				</div>
			</fieldset>
		</div>
		<br/>
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>
