@page
@model Dfe.Academies.External.Web.Pages.School.PupilNumbersModel
@{
	ViewData["Title"] = "School Pupil Numbers";
}

@section BeforeMain
{
	<a asp-page="PupilNumbersSummary" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
		Future pupil numbers
	</h1>

	<form method="post" name="frmPupilNumbers" novalidate="">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>		
		<partial name="_HiddenFields"/>

		<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
				<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
				</div>

				<div class="govuk-form-group">
					<label for="ProjectedPupilNumbersYear1" class="govuk-label">Projected pupil numbers on roll in the year the academy opens (year 1)</label>
					<input type="number" asp-for="ProjectedPupilNumbersYear1" id="ProjectedPupilNumbersYear1" class="govuk-input govuk-input--width-20"/>
				</div>
				<div class="govuk-form-group">
					<label for="ProjectedPupilNumbersYear2" class="govuk-label">Projected pupil numbers on roll in the following year after the academy has opened (year 2)</label>
					<input type="number" asp-for="ProjectedPupilNumbersYear2" id="ProjectedPupilNumbersYear2" class="govuk-input govuk-input--width-20"/>
				</div>
				<div class="govuk-form-group">
					<label for="ProjectedPupilNumbersYear3" class="govuk-label">Projected pupil numbers on roll in the following year (year 3)</label>
					<input type="number" asp-for="ProjectedPupilNumbersYear3" id="ProjectedPupilNumbersYear3" class="govuk-input govuk-input--width-20"/>
				</div>
				<div class="govuk-form-group">
					<label for="SchoolCapacityAssumptions" class="govuk-label">What do you base these projected numbers on?</label>
                        <textarea asp-for="SchoolCapacityAssumptions" id="SchoolCapacityAssumptions" class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
				</div>
				<div class="govuk-form-group">
					<label for="SchoolCapacityPublishedAdmissionsNumber" class="govuk-label">What is the school's published admissions number (PAN)?</label>
					<input type="number" asp-for="SchoolCapacityPublishedAdmissionsNumber" id="SchoolCapacityPublishedAdmissionsNumber" class="govuk-input govuk-input--width-20"/>
				</div>
			</fieldset>
		</div>
		<br/>
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>
