@page
@using Dfe.Academies.External.Web.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.SchoolConversionKeyDetailsModel
@{
	ViewData["Title"] = "Apply to become an academy - About the conversion";
}

@section BeforeMain
{
    <a asp-page="../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back to application overview</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		@Model.SchoolName
	</span>
	<h1 class="govuk-heading-l">
		About the conversion
	</h1>

	@foreach (var component in Model.ViewModel)
	{
		<h2 class="govuk-heading-m">
			@component.Title
		</h2>
		<table class="govuk-table">
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						@if (component.Status == SchoolConversionComponentStatus.NotStarted)
						{
							<a asp-page="@component.URI" aria-describedby="component-not started" class="govuk-button govuk-button--secondary"
							   asp-route-appId="@Model.ApplicationId"
							   asp-route-urn="@Model.Urn">
								Start section
							</a>
						}
						else
						{
							<a asp-page="@component.URI" aria-describedby="component-change" class="govuk-link"
							   asp-route-appId="@Model.ApplicationId"
							   asp-route-urn="@Model.Urn">
								Change your answers
							</a>							
						}
					</td>
					<td class="govuk-table__cell"></td>
				</tr>
				@*render partial <tr> for each component.Section*@
				@foreach (var conversionComponent in component.Sections)
				{
					<partial name="_SchoolConversionComponentPartial" model="@conversionComponent"/>
				}

			</tbody>
		</table>  
		<div class="govuk-!-margin-6"></div>
	}

    <a asp-page="../ApplicationOverview" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn"
	   class="govuk-button" data-module="govuk-button">Save and return to your application</a>
</div>
<input type="hidden" asp-for="Urn"/>
<partial name="_HiddenFields"/>