@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.School.SchoolMainContactsModel
@{
	ViewData["Title"] = "Apply to become an academy - School Main contacts";
}

@section BeforeMain
{
	<a asp-page="SchoolConversionKeyDetails" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">
		Back to about the conversion
	</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		Conversion key details
	</span>
	<h1 class="govuk-heading-l">
		Main contacts
	</h1>

	<form method="post" name="frmMainContacts" novalidate="">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>		
		<partial name="_HiddenFields"/>
		
		<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
			<fieldset class="govuk-fieldset">
				<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
				</div>
				
				<div class="govuk-form-group">
					<label for="ContactHeadName" class="govuk-label">Name of headteacher</label>
					<input type="text" asp-for="ViewModel.ContactHeadName" id="ContactHeadName" 
							class="govuk-input govuk-input--width-20"/>
				</div>

				<div class="govuk-form-group">
					<label for="ContactHeadEmail" class="govuk-label">Headteacher's email address</label>
					<span class="govuk-hint">
						We will only use this to contact you regarding your application
					</span>
					<input type="email" asp-for="ViewModel.ContactHeadEmail" id="ContactHeadEmail" 
							class="govuk-input govuk-input--width-20"/>
				</div>

				<div class="govuk-form-group">
					<label for="ContactHeadTel" class="govuk-label">Headteacher's telephone number</label>
					<input type="number" asp-for="ViewModel.ContactHeadTel" id="ContactHeadTel" 
							class="govuk-input govuk-input--width-20"/>
				</div>

				<div class="govuk-form-group">
					<label for="ContactChairName" class="govuk-label">Name of the chair of the governing body</label>
					<input type="text" asp-for="ViewModel.ContactChairName" id="ContactChairName" 
							class="govuk-input govuk-input--width-20"/>
				</div>

				<div class="govuk-form-group">
					<label for="ContactChairEmail" class="govuk-label">Chair's email address</label>
					<span class="govuk-hint">
						We will only use this to contact you regarding your application
					</span>
					<input type="email" asp-for="ViewModel.ContactChairEmail" id="ContactChairEmail" 
							class="govuk-input govuk-input--width-20"/>
				</div>

				<div class="govuk-form-group">
					<label for="ContactChairTel" class="govuk-label">Chair's telephone number</label>
					<input type="number" asp-for="ViewModel.ContactChairTel" id="ContactChairTel" 
							class="govuk-input govuk-input--width-20"/>
				</div>

				<div class="govuk-form-group">
					<span class="govuk-fieldset__legend govuk-fieldset__legend--s">
						Who is the main contact for the conversion?
					</span>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						@foreach (var conversionContactType in Enum.GetValues(typeof(MainConversionContact)).OfType<MainConversionContact>())
						{
							<div class="govuk-radios__item">
								<input type="radio"
								       asp-for="ViewModel.ContactRole"
								       value="@Convert.ToInt32(conversionContactType)"
								       id="ContactType@(conversionContactType)"
								       class="govuk-radios__input"
								       data-aria-controls="conditional-contacttype-@(conversionContactType.ToString().ToLower())"
								       checked="@(conversionContactType.Equals(Model.ViewModel.ContactRole))"
								       aria-expanded="False"/>
								<label for="ContactType@(conversionContactType)" class="govuk-label govuk-radios__label">
									@conversionContactType.GetDescription()
								</label>
							</div>
							@if (conversionContactType == MainConversionContact.Other)
							{
								<div class="@(Model.OtherContactError ? "govuk-form-group--error" : "govuk-radios__conditional")
	                                            @(Model.ViewModel.ContactRole != MainConversionContact.Other ? "govuk-radios__conditional--hidden" : "")"
								     id="conditional-contacttype-other" aria-expanded="false">
									<div class="govuk-form-group govuk-error-summary__list">
										<label for="conditional-contacttype-other" class="govuk-label">Name</label>
										<input type="text" asp-for="@Model.ViewModel.MainContactOtherName" id="MainContactOtherName"
										       class="govuk-input govuk-input--width-20"/>

										<label for="conditional-contacttype-other" class="govuk-label">Email address</label>
										<span class="govuk-hint">
											We will only use this to contact you regarding your application
										</span>
										<input type="email" asp-for="@Model.ViewModel.MainContactOtherEmail" id="MainContactOtherEmail"
										       class="govuk-input govuk-input--width-20"/>

										<label for="conditional-contacttype-other" class="govuk-label">Telephone number</label>
										<input type="text" asp-for="@Model.ViewModel.MainContactOtherTelephone" id="MainContactOtherTelephone"
										       class="govuk-input govuk-input--width-20"/>
									</div>
								</div>
							}
						}
					</div >
				</div>

				<div class="govuk-form-group">
					<div class="govuk-fieldset__legend govuk-fieldset__legend--xs">
						<h1 class="govuk-fieldset__heading">
							@Model.SigninApproverQuestionText
						</h1>
						<span class="govuk-hint">
							For more details on the approvers role and responsibilities please see <a href="https://help.signin.education.gov.uk/contact/approver">the approver guide</a>.
						</span>
					</div>
					<div class="govuk-form-group">
						<label for="ApproverContactName" class="govuk-label">Full Name</label>
						<input type="text" asp-for="ViewModel.ApproverContactName" id="ApproverContactName" 
								class="govuk-input govuk-input--width-20"/>
					</div>
					<div class="govuk-form-group">
						<label for="ApproverContactEmail" class="govuk-label">Email address</label>
						<span class="govuk-hint">
							We will only use this to contact you regarding your application
						</span>
						<input type="email" asp-for="ViewModel.ApproverContactEmail" id="ApproverContactEmail" 
								class="govuk-input govuk-input--width-20"/>
					</div>
				</div>
			</fieldset>
		</div>

		<br/>
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>