@page
@model Dfe.Academies.External.Web.Pages.School.SchoolMainContactsModel
@{
	ViewData["Title"] = "Apply to become an academy - School Main contacts";
}

@section BeforeMain
{
	<a asp-page="SchoolConversionKeyDetails" asp-route-appId="@Model.ApplicationId" asp-route-urn="@Model.Urn" class="govuk-back-link">
		Back to about the conversion
	</a>
}

<div class="govuk-grid-column-two-thirds">
	<span class="govuk-caption-l">
		Conversion key details
	</span>
	<h1 class="govuk-heading-l">
		Main contacts
	</h1>

	<form method="post" name="frmMainContacts" novalidate="">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Urn"/>
		<input type="hidden" asp-for="ApplicationId"/>		
		<partial name="_HiddenFields"/>
		
		<div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
			<fieldset class="govuk-fieldset">
				<div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
					<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
				</div>
				
				// TODO MR:- inputs - lots & lots !
			</fieldset>
		</div>

		<br/>
		<input type="submit" value="Save and return to overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
	</form>
</div>