@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.Enums
@model SchoolOverviewModel
@{
	ViewData["Title"] = "School Overview";
}

@section BeforeMain
{
    <a asp-page="../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
	<div class="govuk-!-margin-6"></div>
	@if (Model.ApplicationType == ApplicationTypes.JoinAMat)
	{
		<h1 class="govuk-heading-l">@Model.ApplicationType.GetDescription()</h1>
		<span class="govuk-caption-l">
			@Model.SchoolName
		</span>
		<p class="govuk-body govuk-radios__conditional">You must complete each section.<br/>
			You can save your progress as you go.
			</p>
	}
	else
	{
		<span class="govuk-caption-l">Form a multi-academy trust</span>
		<h1 class="govuk-heading-l">@Model.SchoolName</h1>
		<br/>
		<p class="govuk-body">Complete all sections.</p>
	}
	
	<partial name="_SchoolComponentsStatusPartial" model="Model.SchoolComponents"/>
	@if (Model.ApplicationType == ApplicationTypes.FormAMat && Model.SchoolComponents.SchoolComponents.FirstOrDefault(x => string.Equals(x.Name,"declaration", StringComparison.InvariantCultureIgnoreCase))?.Status != Status.Completed)
	{
		<div class="govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
				<span class="govuk-warning-text__assistive">Warning</span>
				The declaration must be completed by the chair of the school's governing body.
				</strong>
			</div>
	}
    
	@if (!Model.UserHasSubmitApplicationRole && Model.DeclarationStatus == Status.Completed)
	{
		<div class="govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
				<span class="govuk-warning-text__assistive">Warning</span>
				Only the school's chair of governors can submit this application.
			</strong>
		</div>
	}

	<br/>
	<a asp-page="../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-button" data-module="govuk-button">Save and return</a>
</div>
<input type="hidden" value="@Model.Urn"/>
