@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.Trust.FormAMat.ApplicationNewTrustKeyPersonModel
@{
    ViewData["Title"] = "New key person";
}

@section BeforeMain
    {
    <a asp-page="ApplicationNewTrustKeyPeopleSummary" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back</a>
}
    <form method="post" name="frmNewTrustPlansForGrowth" novalidate="">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ApplicationId" />
        <partial name="_HiddenFields" />

        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">@Model.TrustName</span>
                New key person
            </h1>

            <div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        @*@(Model.IsPropertyInvalid("TrustKeyPersonName") ? "govuk-form-group--error" : "")">*@
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <label for="TrustKeyPersonName" class="govuk-label">Name</label>
                        </legend>
                        <p id="full-name-input-error" class="govuk-error-message @(!Model.IsPropertyInvalid("TrustKeyPersonName") ? "govuk-visually-hidden" : "")">
                            <span class="govuk-visually-hidden">Error:</span> Please enter a name
                        </p>
                        <input type="text" asp-for="TrustKeyPersonName" id="TrustKeyPersonName" class="govuk-input govuk-input--width-20" />@*@(Model.IsPropertyInvalid("TrustKeyPersonName") ? "govuk-input--error" : "")" />*@
                    </div>
                    <div id="TrustKeyPersonRoleError">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <div class="govuk-label">Position within the trust</div>
                                </legend>
                                <div class="govuk-hint">
                                    Tick all that apply
                                </div>
                                <p id="role-input-error" class="govuk-error-message @(!Model.TrustKeyPersonRoleError ? "govuk-visually-hidden" : "")">
                                    <span class="govuk-visually-hidden">Error:</span> Please select at least one role
                                </p>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input asp-for="TrustKeyPersonMember" type="checkbox" class="govuk-checkboxes__input">
                                        <label for='TrustKeyPersonMember' class="govuk-label govuk-checkboxes__label">
                                            Member
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input asp-for="TrustKeyPersonTrustee" type="checkbox" class="govuk-checkboxes__input">
                                        <label for='TrustKeyPersonTrustee' class="govuk-label govuk-checkboxes__label">
                                            Trustee
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input asp-for="TrustKeyPersonCeo" type="checkbox" class="govuk-checkboxes__input">
                                        <label for='TrustKeyPersonCeo' class="govuk-label govuk-checkboxes__label">
                                            CEO / executive
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input asp-for="TrustKeyPersonChair" type="checkbox" class="govuk-checkboxes__input">
                                        <label for='TrustKeyPersonChair' class="govuk-label govuk-checkboxes__label">
							            Chair of trust
						            </label>
					            </div>
					            <div class="govuk-checkboxes__item">
						            <input asp-for="TrustKeyPersonFinancialDirector" type="checkbox" class="govuk-checkboxes__input" data-aria-controls="conditional-financial-director">
						            <label for='TrustKeyPersonFinancialDirector' class="govuk-label govuk-checkboxes__label">
							            Financial director
						            </label>
					            </div>
					            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-financial-director">
						            <div class="govuk-form-group">
							            <label id="TrustKeyPersonTimeInRoleNotEntered" class="govuk-label" for="TrustKeyPersonTimeInRole">
								            How much time do they initially expect to give to the role?
							            </label>
							            <p id="time-input-error" class="govuk-error-message @(!Model.TrustKeyPersonTimeInRoleNotEntered ? "govuk-visually-hidden" : "")">
								            <span class="govuk-visually-hidden">Error:</span> Please enter time that the financial director expects to give to the role
							            </p>
							            <input type="text" asp-for="TrustKeyPersonTimeInRole" id="TrustKeyPersonTimeInRole" class="govuk-input govuk-input--width-20" name="TrustKeyPersonTimeInRole" spellcheck="true">
						            </div>
					            </div>
					            <div class="govuk-checkboxes__item">
						            <input asp-for="TrustKeyPersonOther" type="checkbox" class="govuk-checkboxes__input">
						            <label for='TrustKeyPersonOther' class="govuk-label govuk-checkboxes__label">
							            Other
						            </label>
					            </div>
				            </div>
			            </fieldset>
					   </div>
		            </div> 
                    
					<div id="TrustKeyPersonDobLocalNotEntered">
					<div id="TrustKeyPersonDobLocalError">
					</div>
		            <div class="govuk-form-group">
			            <fieldset class="govuk-fieldset" role="group" aria-describedby="conversion-date-different-date-hint">
				            <legend id="role-hint" class="govuk-fieldset__legend">
					            Date of Birth
				            </legend>
				            <div id="conversion-date-different-date-hint" class="govuk-hint">
					            For example, 31 3 1980
				            </div>
				            <p id="dob-input-error-1" class="govuk-error-message @(!Model.TrustKeyPersonDobNotEntered ? "govuk-visually-hidden" : "")">
					            <span class="govuk-visually-hidden">Error:</span> Date is invalid
				            </p>
				            <p id="dob-input-error-2" class="govuk-error-message @(!Model.TrustKeyPersonDobNotError ? "govuk-visually-hidden" : "")">
                                <span class="govuk-visually-hidden">Error:</span> Date of birth must be in the past
				            </p>
				            <govuk-date field-name="@Model.TrustKeyPersonDobDate"
				                        field-data="@Model.TrustKeyPersonDob"
				                        field-day="@Model.TrustKeyPersonDobDay"
				                        field-month="@Model.TrustKeyPersonDobMonth"
				                        field-year="@Model.TrustKeyPersonDobYear">
				            </govuk-date>
			            </fieldset>
		            </div>
					</div>
					</div>
                    
		            <div class="govuk-form-group">
			            <label for="TrustKeyPersonBiography" class="govuk-label">Provide a biography of them</label>
                        <p id="biography-input-error" class="govuk-error-message @(!Model.IsPropertyInvalid("TrustKeyPersonBiography") ? "govuk-visually-hidden" : "")">
                            <span class="govuk-visually-hidden">Error:</span> Please enter a biography
                        </p>
                        <textarea asp-for="TrustKeyPersonBiography" id="TrustKeyPersonBiography"
                              class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                    </div>
                   <input type="submit" value="Save and continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" />
                </fieldset>
            </div>
        </div>
    </div>
</form>
