@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.Trust.FormAMat.ApplicationNewTrustPlansForGrowthModel
@{
    ViewData["Title"] = "Plans for growth";
}

@section BeforeMain
    {
    <a asp-page="ApplicationNewTrustGrowthSummary" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back</a>
}
    <form method="post" name="frmNewTrustPlansForGrowth" novalidate="">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ApplicationId" />
        <partial name="_HiddenFields" />

        <div class="govuk-grid-column-two-thirds">
            <h1 id="GrowthPlanOptionNotEntered" class="govuk-heading-l">
                <span class="govuk-caption-l">@Model.TrustName</span>
                Plans for growth
            </h1>

            <div class="@(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
	                <div class="govuk-form-group govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <legend id="role-hint" class="govuk-fieldset__legend govuk-!-font-weight-bold">
                            Do you plan to grow the trust over the next 5 years?
                        </legend>
                        <label for="GrowthPlansOptionOption" class="govuk-caption-l">
                            For example, do you plan to form a multi-academy trust?
                        </label>
                        <div class="govuk-!-margin-6"></div>
	                    <div class="govuk-form-group">

		                    @foreach (var growthPlansOption in Enum.GetValues(typeof(SelectOption)).OfType<SelectOption>().OrderByDescending(x => x == SelectOption.Yes))
		                    {
			                    <div class="govuk-radios__item">
				                    <input type="radio"
				                           asp-for="GrowthPlansOption"
				                           value="@Convert.ToInt32(growthPlansOption)"
				                           id="plansForGrowthOption@(growthPlansOption)"
				                           class="govuk-radios__input"
				                           data-aria-controls="growthplan-@(growthPlansOption.ToString().ToLower())"
				                           checked="@(growthPlansOption.Equals(Model.GrowthPlansOption))"
				                           aria-expanded="False"/>
				                    <label for="plansForGrowthOption@(growthPlansOption)" class="govuk-label govuk-radios__label">
					                    @growthPlansOption.GetDescription()
				                    </label>
			                    </div>

			                    @if (growthPlansOption == SelectOption.Yes)
			                    {
                                <div id="GrowthPlanDescriptionNotEntered">
                                <div class="@(Model.GrowthPlanDescriptionError && Model.GrowthPlansOption != SelectOption.Yes ? "govuk-form-group--error" : "govuk-radios__conditional")
                                    @(Model.GrowthPlansOption != SelectOption.Yes ? "govuk-radios__conditional--hidden" : "")" 
				                         id="growthplan-yes" aria-expanded="false">
					                    <label
					                       class="@(Model.GrowthPlanDescriptionError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must enter the details of plans for growth
					                    </label>
					                    <label for="GrowthPlanDescription" class="govuk-label">What are your plans?</label>
					                    <textarea asp-for="GrowthPlanDescription" id="GrowthPlanDescription"
                                      class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
				                    </div>
                                    </div>
			                    }

                            @if (growthPlansOption == SelectOption.No)
                            {
                                 <div id="NoGrowthPlanDescriptionNotEntered">
                                <div class="@(Model.NoGrowthPlanDescriptionError && Model.GrowthPlansOption != SelectOption.No ? "govuk-form-group--error" : "govuk-radios__conditional")
										@(Model.GrowthPlansOption != SelectOption.No ? "govuk-radios__conditional--hidden" : "")"
                             id="growthplan-no" aria-expanded="false">
                                    <label
                               class="@(Model.NoGrowthPlanDescriptionError ? "govuk-error-message" : "govuk-visually-hidden")">
                                        You must enter the details of why there are no plans for growth
                                    </label>
                                    <label for="NoGrowthPlanDescription" class="govuk-label">Why are you not planning to grow?</label>
                                    <textarea asp-for="NoGrowthPlanDescription" id="NoGrowthPlanDescription"
                                      class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                                </div>
                                </div>
                            }
		                    }
	                    </div>
                </div>
            </fieldset>
        </div>

        <input type="submit" value="Save and continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" />

    </div>
</form>