@page
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.Trust.FormAMat.ApplicationNewTrustSummaryModel
@{
	ViewData["Title"] = "About the conversion";
}

@section BeforeMain
{
	<a asp-page="../../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-full">
	<span class="govuk-caption-l">
		@Model.ApplicationType.GetDescription()
	</span>
	<h1 class="govuk-heading-l">@Model.TrustName</h1>
	
	<p class="govuk-body">Complete all sections.</p>
	@if (Model.FormAMatTrustComponents.TrustComponents.Any())
    {
	    <table class="govuk-table">
		    <caption class="govuk-visually-hidden">Trust summary statuses</caption>
		    <tbody class="govuk-table__body">
		    @foreach (var component in Model.FormAMatTrustComponents.TrustComponents)
		    {
			    <tr class="govuk-table__row">
				    <td class="govuk-table__cell">
					    <a asp-page="@component.URI" class="govuk-link"
					       asp-route-appId="@Model.ApplicationId">
						    @component.Name
					    </a>
				    </td>
				    <td class="govuk-table__cell govuk-!-text-align-right" data-cy="sectionStatus">
					    @{
						    var statusValue = (int)component.Status;
					    }
					    <status enumvalue=@statusValue></status>
				    </td>
			    </tr>
		    }
		    </tbody>
	    </table>  
    }
		
	<a asp-page="../../ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-button" data-module="govuk-button">Return to your application</a>
</div>
