@page
@using Dfe.Academies.External.Web.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.Trust.FormAMat.ApplicationNewTrustGovernanceSummaryModel
@{
    ViewData["Title"] = "Apply to become an academy - Governance structure";
}

@section BeforeMain
{
	<a asp-page="ApplicationNewTrustSummary" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">Back to trust overview</a>
}

<div class="govuk-grid-column-full">
	<span class="govuk-caption-l">
		@Model.TrustName
	</span>
	<h1 class="govuk-heading-l">Governance structure</h1>
	<br/>
	<h1 class="govuk-heading-m">Details</h1>
	@foreach (var question in Model.ViewModel)
	{
		<table class="govuk-table">
			<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					@if (question.Status == SchoolConversionComponentStatus.NotStarted)
					{
						<a asp-page="@question.URI" class="govuk-button govuk-button--secondary"
						   asp-route-appId="@Model.ApplicationId">
							Start section
						</a>
					}
					else
					{
						<a asp-page="@question.URI" class="govuk-link"
						   asp-route-appId="@Model.ApplicationId">
							Change your answers
						</a>
					}
				</td>
				<td class="govuk-table__cell"></td>
			</tr>
			@foreach (var conversionComponent in question.Sections)
			{
				<partial name="_SchoolConversionComponentPartial" model="@conversionComponent"/>
			}

			</tbody>
		</table>

		<div class="govuk-!-margin-6"></div>
	}

	<a asp-page="ApplicationNewTrustSummary" asp-route-appId="@Model.ApplicationId" class="govuk-button" data-module="govuk-button">Save and return to your application</a>
</div>
