@model Dfe.Academies.External.Web.ViewModels.SchoolQuestionAndAnswerViewModel

<tr class="govuk-table__row">
	<td class="govuk-table__cell">
		<b>@Model.Name</b>
	</td>
	<td class="govuk-table__cell">
		<dl>
			@if (Model.SubQuestionAndAnswers.Any())
			{
				<dd class="sip-overview-table__answer">
					@foreach (var additionalInfo in Model.SubQuestionAndAnswers.ToList())
					{
						<dl class="govuk-body-s">
							<dt class="">
								@additionalInfo.Name
							</dt>
							<dd data-field-name="@additionalInfo.Name">
								@additionalInfo.Answer
							</dd>
						</dl>
					}
				</dd>
			}
			else
			{
				<dd class="sip-overview-table__answer">
					<dl class="govuk-body-s">
						<dt class="">
							@Model.Answer
						</dt>
					</dl>
				</dd>
			}
		</dl>
	</td>
</tr>