@model Dfe.Academies.External.Web.ViewModels.SchoolQuestionAndAnswerViewModel

<tr class="govuk-table__row">
	<td class="govuk-table__cell">
		<strong>@Model.Name</strong>
	</td>
	<td class="govuk-table__cell">
		<dl>
			<dt class="">
				<dl class="govuk-body-s">
					<dt class="">
						@Model.Answer
					</dt>
					<dd class=""></dd>
				</dl>
			</dt>
			<dd></dd>
			@if (Model.SubQuestionAndAnswers.Any())
			{
				<dt class="">
					@foreach (var additionalInfo in Model.SubQuestionAndAnswers.ToList())
					{
						@if (additionalInfo.QuestionAnswered)
						{
							<dl class="govuk-body-s">
								<dt class="govuk-caption-m">
									@additionalInfo.Name
								</dt>
								<dd data-field-name="@additionalInfo.Name">
									@additionalInfo.Answer
								</dd>
							</dl>
						}
					}
				</dt>
				<dd></dd>
			}
		</dl>
	</td>
</tr>