@model Dfe.Academies.External.Web.ViewModels.SchoolQuestionAndAnswerViewModel

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<p class="govuk-body"><b>@Model.Name</b></p>
	</div>
	<div class="govuk-grid-column-one-third">
		<p class="govuk-body">@Model.Answer</p>
	</div>
</div>
@foreach (var additionalInfo in Model.SubQuestionAndAnswers.ToList().Where(additionalInfo => @additionalInfo.QuestionAnswered))
{
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body"><b>@additionalInfo.Name</b></p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="govuk-body"> @(!string.IsNullOrWhiteSpace(@additionalInfo.Answer) ? @additionalInfo.Answer : "You have not added any information")</p>
		</div>
	</div>
	<hr/>
}
<hr/>