@model Dfe.Academies.External.Web.ViewModels.SchoolQuestionAndAnswerViewModel

<tr class="govuk-table__row">
	<td class="govuk-table__cell">
		<b>@Model.Name</b>
	</td>
	<td class="govuk-table__cell">
		<dl>
			<dd class="">
				<dl class="govuk-body-s">
					<dt class="">
						@Model.Answer
					</dt>
				</dl>
			</dd>
			@if (Model.SubQuestionAndAnswers.Any())
			{
				<dd class="">
					@foreach (var additionalInfo in Model.SubQuestionAndAnswers.ToList())
					{
                        @if (additionalInfo.QuestionAnswered)
                        {
	                        <dl class="govuk-body-s">
                                <dt class="govuk-caption-m">
	                                @additionalInfo.Name
		                        </dt>
		                        <dd data-field-name="@additionalInfo.Name">
			                        @additionalInfo.Answer
		                        </dd>
	                        </dl>
                        }
					}
				</dd>
			}
		</dl>
	</td>
</tr>