@page
@model Dfe.Academies.External.Web.Pages.Help.ApplicationHelpModel
@{
    ViewData["Title"] = "Help with your application";
}

@section BeforeMain
    {
    <a asp-page="HowCanWeHelp" class="govuk-back-link">Back</a>
}
    <div class="govuk-grid-column-two-thirds">
        <form method="post" name="frmHelpWithYourApplication" novalidate="">
            @Html.AntiForgeryToken()
            <partial name="_HiddenFields" />
            <div class="@(!ViewData.ModelState.IsValid ? "govuk-visually-hidden" : "")">
                <partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel" />
            </div>
            <h1 class="govuk-heading-l">Help with your application</h1>
            <div class="govuk-character-count">
                <div class="@(Model.IsPropertyInvalid("HelpSummary") ? "govuk-form-group--error" : "govuk-form-group")">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" for="HelpSummary">
                            What do you need help with?
                        </label>
                    </h1>
                    <p id="full-name-input-error" class="govuk-error-message @(!Model.IsPropertyInvalid("HelpSummary") ? "govuk-visually-hidden" : "")">
                        <span class="govuk-visually-hidden">Error:</span> You must give details
                    </p>
                    <textarea asp-for="HelpSummary" id="HelpSummary"
                          class="govuk-textarea" cols="40" rows="5" maxlength="2000"></textarea>
                </div>
                <div id="ProblemSummary-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 2000 characters
                </div>
            </div>
            <div class="@(Model.IsPropertyInvalid("EmailAddress") ? "govuk-form-group--error" : "govuk-form-group")">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        <label class="govuk-label govuk-label--m" for="EmailAddress">
                            What is your email address?
                        </label>
                    </h1>
                </legend>
                <div id="Email-hint" class="govuk-hint">
                    We will use this to contact you about the problem. Make sure you enter it correctly.
                </div>
                <p id="full-name-input-error" class="govuk-error-message @(!Model.IsPropertyInvalid("EmailAddress") ? "govuk-visually-hidden" : "")">
                    <span class="govuk-visually-hidden">Error:</span> You must give an email address
                </p>
                <input type="email" asp-for="EmailAddress" id="EmailAddress" class="govuk-input govuk-input--width-20" />
            </div>

            @if(@Model.ExistingApplications.Any())
            {

	       <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="SelectedReferenceNumber">Which application do you need help with?</label>
						<div class="govuk-radios--conditional">
                            <div id="Application-hint" class="govuk-hint">
                    This is a list of the applications you have in progress currently. Please select from the options below the application reference number you need help with.
                    <div id="SelectedReferenceNumber">
                        <br>
                </div>
							@foreach (var data in @Model.ExistingApplications)
							{
								<div class="govuk-radios__item">
									<input type="radio"
									 asp-for="SelectedReferenceNumber"
                                     value="@data.ApplicationReference"
									 id="@data.ApplicationReference"
			                         class="govuk-radios__input" />
									<label for="@data.ApplicationReference" class="govuk-label govuk-radios__label">@data.ApplicationReference - @data.TrustName</label>
								</div>
							}
                       
						</div>

                    </div>
				</div>
            }

            else
            {
                <input type ="hidden"  asp-for="SelectedReferenceNumber" value="Has no applications in progress">
            } 
 

           


            <input type="submit" value="Submit details" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-" />
        </form>
    </div>