@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.TagHelpers
@using Dfe.Academies.External.Web.Enums
@model Dfe.Academies.External.Web.Pages.ApplicationOverviewModel
@{
    ViewData["Title"] = "Apply to become an academy - Overview";
}

@section BeforeMain
{
	<a asp-page="YourApplications" class="govuk-back-link">Back to your applications</a>
}

<div class="govuk-grid-column-two-thirds">
	<p class="govuk-body">
		Application reference:&nbsp;&nbsp;@Model.ApplicationReferenceNumber
	</p>
	
	<h1 class="govuk-heading-l">@Model.ApplicationType.GetDescription()</h1>
    
	<p class="govuk-body govuk-radios__conditional">You answers will be saved after each question. 
		Once all sections are complete, the school's' chair will be able to submit the application.
    </p>
    
	<div class="govuk-!-margin-6"></div>

	<h2 class="govuk-heading-m">@Model.SchoolHeaderText</h2>

	<table class="govuk-table">
@*		<caption class="govuk-table__caption govuk-table__caption--l">@Model.SchoolHeaderText</caption>*@
		<tbody class="govuk-table__body">
		@*If no school selected - render button instead*@
		@if (!Model.SchoolOrSchoolsApplyingToConvert.Any() && Model.ApplicationType != ApplicationTypes.FormAMat)
		{
			<tr class="govuk-table__row">
				<td class="govuk-table__cell govuk-!-text-align-right">
					<a asp-page="school/ApplicationSelectSchool" asp-route-appId="@Model.ApplicationId"
					   class="govuk-button" data-module="govuk-button">Add a school</a>
				</td>
			</tr>
		}
		else
		{
			@if (Model.ApplicationType == ApplicationTypes.FormAMat)
			{
				foreach (var school in Model.SchoolOrSchoolsApplyingToConvert)
				{
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a asp-page="school/SchoolOverview"
							   asp-route-appId="@Model.ApplicationId"
							   asp-route-urn="@school.URN"
							   class="govuk-link">
								@school.SchoolName
							</a>
						</td>
						<td class="govuk-table__cell">
							<a asp-page="/school/ApplicationSelectSchool" aria-describedby="component-change" class="govuk-link"
							   asp-route-appId="@Model.ApplicationId">
								Change
							</a>
						</td>
					</tr>
				}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-text-align-right" colspan="2">
                            <a asp-page="school/ApplicationSelectSchool"
								asp-route-appId="@Model.ApplicationId"
						   class="govuk-button" data-module="govuk-button">Add a school</a>
					</td>
				</tr>
			}
			else
			{
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						<span class="govuk-!-font-weight-bold govuk-!-padding-right-5">@Model.SchoolName</span>
						<a asp-page="/school/ApplicationSelectSchool" aria-describedby="component-change" class="govuk-link"
						   asp-route-appId="@Model.ApplicationId">
							Change
						</a>
					</td>
				</tr>
				<partial name="_SchoolComponentsStatusPartial" model="Model.SchoolComponents"/>
			}
		}
		</tbody>
	</table>

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">@Model.TrustHeaderText</caption>
        <tbody class="govuk-table__body">
            @if (string.IsNullOrWhiteSpace(Model.NameOfTrustToJoin)){
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-text-align-right" colspan="2">
                        <a asp-page="trust/ApplicationSelectTrust" asp-route-appId="@Model.ApplicationId"
	                       class="govuk-button govuk-button--secondary" data-module="govuk-button">Add a trust</a>
                    </td>
                </tr>
            }
            else{
	            <tr class="govuk-table__row">
		            <td class="govuk-table__cell">
			            <span class="govuk-!-font-weight-bold govuk-!-padding-right-5">@Model.NameOfTrustToJoin</span>
                        <a asp-page="trust/ApplicationSchoolJoinAMatTrustSummary" asp-route-appId="@Model.ApplicationId"
			               class="govuk-link">Change</a>
		            </td>
		            <td class="govuk-table__cell govuk-!-text-align-right">
			            @{
				            var trustConversionStatusValue = (int)Model.TrustConversionStatus;
			            }
			            <status enumvalue=@trustConversionStatusValue></status>
		            </td>
	            </tr>
            }
        </tbody>
    </table>       

    <h2 class="govuk-heading-l">Contributors</h2>
    <p class="govuk-body">You can <a asp-page="AddAContributor" asp-route-appId="@Model.ApplicationId" class="govuk-link">invite other people to help you complete this form</a> or see who has already been invited.</p>
	<div class="govuk-!-margin-6"></div>

    <partial name="_ApplicationContributorsPartial" model="Model.ExistingContributors" />

    <div class="govuk-!-margin-6"></div>

    @if (!Model.UserHasSubmitApplicationRole)
    {
        <p class="govuk-body govuk-radios__conditional">Only the school's chair of governors can submit this application.</p>
    }

    <div class="govuk-button-group">
        @if (Model.UserHasSubmitApplicationRole && Model.ConversionStatus == Status.Completed)
        {
            <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Review and submit
            </button>
        }
@*        <a asp-page="YourApplications" class="govuk-button govuk-button--warning" data-module="govuk-button">Cancel this application</a>*@
    </div>
</div>

@*<div class="govuk-grid-column-one-third">
	<h2 class="govuk-heading-l">Recent activity</h2>
	<p class="govuk-body">Changes to the application by all contributors will appear here</p>
    TODO:- Audit partial listing component
</div>*@

<partial name="_HiddenFields"/>