@page
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.ApplicationOverviewModel
@{
    ViewData["Title"] = "Apply to become an academy - Overview";
}

@section BeforeMain
{
    <a asp-page="YourApplications" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">@Model.ApplicationTypeDescription</h1>

    <p class="govuk-body">
        <strong>Application reference number:</strong>&nbsp;&nbsp;@Model.ApplicationReferenceNumber
    </p>

    <p class="govuk-body govuk-radios__conditional">You must complete each section before you can submit your application.<br/>
        You can save your progress as you go.
    </p>

    <h2 class="govuk-heading-l">Application @Model.ApplicationStatus.GetDescription()</h2>
    <p class="govuk-body">You have completed @Model.CompletedSections of @Model.TotalNumberOfSections sections.</p>

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">The school applying to convert</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><strong>@Model.SchoolApplyingToConvert</strong></td>
                <td class="govuk-table__cell govuk-text-align-right"><a asp-page="ApplicationSelectSchool" class="govuk-link">Change</a></td>
            </tr>
        </tbody>
    </table>  
    
    <div class="govuk-!-margin-6"></div>

    <partial name="_ApplicationComponentsStatusPartial" model="Model.Components"/>

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">The trust the school will join</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a asp-page="ApplicationSelectTrust" class="govuk-link">@Model.NameOfTrustToJoin</a></td>
                @*TODO MR:- below to consume ??????*@
                <td class="govuk-table__cell govuk-text-align-right">
                    <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="trust-status">Not started</strong>
                </td>
            </tr>
        </tbody>
    </table>       

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">About the conversion</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a asp-page="ApplicationDetails" class="govuk-link">Conversion details</a></td>
                <td class="govuk-table__cell govuk-text-align-right">
                    <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="conversion-status">@Model.ApplicationStatus.GetDescription()</strong>
                </td>
            </tr>
        </tbody>
    </table>    

    <h2 class="govuk-heading-l">Contributors</h2>
    <p class="govuk-body">You can invite other people to help you complete parts of this form</p>

    <a asp-page="NewApplicationContributor" class="govuk-link">Invite a contributor</a>
    <partial name="_ApplicationContributorsPartial" model="Model.Contributors"/>

    @if (!Model.DoesUserHaveSubmitRole)
    {
        <p class="govuk-body govuk-radios__conditional">Only the school's chair of governors can submit this application.</p>
    }

    <div class="govuk-button-group">
        @if (Model.DoesUserHaveSubmitRole)
        {
            <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Review and Submit
            </button>
        }
        <a asp-page="YourApplications" class="govuk-button govuk-button--warning" data-module="govuk-button">Cancel this application</a>
    </div>
</div>

<div class="govuk-grid-column-one-third">
    <partial name="_ApplicationAuditPartial" model="Model.Audits"/>
</div>
