@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.Academies.External.Web.Extensions
@using Dfe.Academies.External.Web.TagHelpers
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.FeatureManagement;
@model Dfe.Academies.External.Web.Pages.ApplicationOverviewModel
@inject IConversionGrantExpiryFeature ConversionGrantExpiryFeature;
@{
	ViewData["Title"] = "Apply to become an academy - Overview";
}

@section BeforeMain
{
	<a asp-page="YourApplications" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-full">
	<p class="govuk-body" data-cy="applicationReference">
		Application reference:&nbsp;&nbsp;@Model.ApplicationReferenceNumber
	</p>

	<h1 class="govuk-heading-l">@Model.ApplicationType.GetDescription()</h1>
    @if (Model.ApplicationStatus == ApplicationStatus.InProgress && !await ConversionGrantExpiryFeature.IsEnabledAsync())
    { 
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    The chair of governors must submit the application by 11:55pm Friday 20 December 2024 to be eligible for the <a class="govuk-link" href="https://www.gov.uk/guidance/claim-the-academy-conversion-support-grant" rel="noopener">conversion support grant</a>
                </p>
            </div>
        </div>
    }
    @if (Model.ApplicationStatus == ApplicationStatus.InProgress && await ConversionGrantExpiryFeature.IsEnabledAsync() && !ConversionGrantExpiryFeature.IsNewApplication(Model.ApplicationCreatedOn))
    {
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    The <a class="govuk-link" href="https://www.gov.uk/guidance/claim-the-academy-conversion-support-grant" rel="noopener">conversion support grant</a> has ended
                </h3>
                <h3 class="govuk-notification-banner__heading">You are no longer eligible for this grant</h3>
            </div>
        </div>
    }
	<p class="govuk-body govuk-radios__conditional">
		@Model.HeaderText
	</p>

	<div class="govuk-!-margin-6"></div>

	<h2 class="govuk-heading-m">@Model.SchoolHeaderText</h2>

	@if (!Model.SchoolOrSchoolsApplyingToConvert.Any() && Model.ApplicationType == ApplicationTypes.JoinAMat)
	{
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">
				<a asp-page="school/ApplicationSelectSchool" asp-route-appId="@Model.ApplicationId"
				   class="govuk-button govuk-button--secondary">
					Add a school
				</a>
			</div>
		</div>
	}
	else
	{
		@if (Model.ApplicationType == ApplicationTypes.FormAMat)
		{
			foreach (var school in Model.SchoolOrSchoolsApplyingToConvert)
			{
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-third">
						<a asp-page="school/SchoolOverview"
						   asp-route-appId="@Model.ApplicationId"
						   asp-route-urn="@school.URN"
						   class="govuk-link govuk-body">
							@school.Name
						</a>
					</div>
					<div class="govuk-grid-column-two-thirds" data-cy="sectionStatus">
						@{
							var statusValue = (int)school.Status;
						}
						<status enumvalue=@statusValue></status>
					</div>
				</div>
				<hr/>
			}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-quarter">
					<a asp-page="school/ApplicationSelectSchool"
					   asp-route-appId="@Model.ApplicationId" class="govuk-button govuk-button--secondary">
						Add a school
					</a>
				</div>
				<div class="govuk-grid-column-three-quarters">
					<a asp-page="RemoveSchoolSelection"
					   asp-route-appId="@Model.ApplicationId" class="govuk-link govuk-body govuk-link--text-colour">
						Remove a school
					</a>
				</div>
			</div>
		}
		else
		{
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-quarter">
					<p class="govuk-body govuk-!-font-weight-bold govuk-!-padding-right-5">@Model.SchoolOrSchoolsApplyingToConvert.FirstOrDefault()?.Name</p>
				</div>
				<div class="govuk-grid-column-three-quarters">
					<a asp-page="/school/ApplicationSelectSchool" class="govuk-link govuk-body"
					   asp-route-appId="@Model.ApplicationId">
						Change
					</a>
				</div>
			</div>
			
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<partial name="_SchoolComponentsStatusPartial" model="Model.SchoolOrSchoolsApplyingToConvert.FirstOrDefault()"/>
				</div>
			</div>
		}
	}


	<h2 class="govuk-heading-m">@Model.TrustHeaderText</h2>


	@if (string.IsNullOrWhiteSpace(Model.NameOfTrustToJoin))
	{
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				@if (Model.ApplicationType == ApplicationTypes.JoinAMat)
				{
					<a asp-page="trust/joinamat/ApplicationSelectTrust" asp-route-appId="@Model.ApplicationId"
					   class="govuk-button govuk-button--secondary" data-module="govuk-button">
						Add a trust
					</a>
				}
				else
				{
					<a asp-page="trust/formamat/ApplicationNewTrustName" asp-route-appId="@Model.ApplicationId"
					   class="govuk-button govuk-button--secondary" data-module="govuk-button">
						Add the trust
					</a>
				}
			</div>
		</div>
	}
	else
	{
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-padding-right-5" data-cy="trustName">@Model.NameOfTrustToJoin</h3>
			</div>
			<div class="govuk-grid-column-three-quarters">
							@if (Model.ApplicationType == ApplicationTypes.JoinAMat && Model.ApplicationStatus != ApplicationStatus.Submitted)
            				{
            					<a asp-page="trust/joinamat/ApplicationSelectTrust" asp-route-appId="@Model.ApplicationId"
            					   class="govuk-link govuk-body">
            						Change
            					</a>
            				}
							else if (Model.ApplicationStatus != ApplicationStatus.Submitted)
							{
								<a asp-page="trust/formamat/ApplicationNewTrustName" asp-route-appId="@Model.ApplicationId"
								   class="govuk-link govuk-body">
									Change
								</a>
							}
			</div>
		</div>
		<hr/>
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				@if (Model.ApplicationType == ApplicationTypes.JoinAMat)
				{
					<a asp-page="trust/joinamat/ApplicationSchoolJoinAMatTrustSummary" asp-route-appId="@Model.ApplicationId"
					   class="govuk-link govuk-body">
						Trust details
					</a>
				}
				else
				{
					<a asp-page="trust/formamat/ApplicationNewTrustSummary" asp-route-appId="@Model.ApplicationId"
					   class="govuk-link govuk-body">
						Trust details
					</a>
				}
			</div>
			<div class="govuk-grid-column-one-third" data-cy="sectionStatus">
				@{
					var trustConversionStatusValue = (int)Model.TrustConversionStatus;
				}
				<status enumvalue=@trustConversionStatusValue></status>
			</div>
		</div>
		<hr/>
	}

	<div class="govuk-!-margin-6"></div>

	@if (!Model.UserHasSubmitApplicationRole && Model.DeclarationStatus == Status.Completed)
	{
		<div class="govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
				<span class="govuk-warning-text__assistive">Warning</span>
				Only the school's chair of governors can submit this application.
			</strong>
		</div>
	}

	<h2 class="govuk-heading-l">Contributors</h2>

	@if (Model.HasSchool)
	{
		<p class="govuk-body">You can <a asp-page="AddAContributor" asp-route-appId="@Model.ApplicationId" class="govuk-link">invite or remove contributors to this form</a>. If you are not the chair of the school's governing body, you must add them so that they can submit this application.</p>
	}
	else
	{
		<p class="govuk-body">You will be able to invite other people to help you complete this form after you have added a school.</p>
	}

	<div class="govuk-button-group">
		<form method="post" name="frmApplicationOverview" novalidate="">
			@Html.AntiForgeryToken()
			<input type="hidden" asp-for="ApplicationId"/>

			@if (Model.UserHasSubmitApplicationRole && Model.ConversionStatus == Status.Completed && Model.ApplicationStatus == ApplicationStatus.InProgress)
			{
				<input type="submit" value="Submit application" class="govuk-button govuk-!-margin-top-6"/>
			}
			@* <input type="submit" value="Cancel application" class="govuk-button govuk-!-margin-top-6" />*@

		</form>
	</div>

		@if (!Model.HideDeleteButton && Model.ApplicationStatus == ApplicationStatus.InProgress)
			{
				<p class="govuk-body"> <a asp-page="DeleteApplication" asp-route-appId="@Model.ApplicationId" class="govuk-link" data-cy="cancelApplication">Cancel application</a></p>
			}
</div>

@*<div class="govuk-grid-column-one-third">
	<h2 class="govuk-heading-l">Recent activity</h2>
	<p class="govuk-body">Changes to the application by all contributors will appear here</p>
</div>*@

<partial name="_HiddenFields"/>