@page
@model Dfe.Academies.External.Web.Pages.RemoveSchoolModel
@{
	ViewData["Title"] = "Add a contributor";
}

@section BeforeMain
{
	<a asp-page="RemoveSchoolSelection" asp-route-appId="@Model.ApplicationId" class="govuk-back-link">
		Back
	</a>
}

<div class="govuk-grid-column-two-thirds">
	@if (Model.ShowConfirmationBox)
	{
		<h1 class="govuk-heading-l">
            @Model.SchoolNameForDisplay has been removed from the application
		</h1>

		<span class="govuk-hint govuk-body">
			Any information previously provided will need to be resubmitted if the school is added again later.
		</span>
		
		<br/>
		<div class="govuk-button-group">
			<a asp-page="ApplicationOverview" asp-route-appId="@Model.ApplicationId" class="govuk-button">
				Return
			</a>
		</div>
	}
    else
    {
	    <h1 class="govuk-heading-l">
		    Are you sure you want to remove this school?
	    </h1>
	    <form method="post" name="frmRemoveSchool" novalidate="">
		    @Html.AntiForgeryToken()
		    <input type="hidden" asp-for="ApplicationId" />
        
		    <h2 class="govuk-heading-m">
                @Model.SchoolNameForDisplay
		    </h2>

		    <div class="govuk-form-group">
			    <span class="govuk-caption-m">
				    URN
			    </span>
			    <span class="govuk-body">
				    @Model.Urn
			    </span>
		    </div>
        
		    <div class="govuk-form-group">
			    <span class="govuk-caption-m">
				    Registered office address
			    </span>
			    <span class="govuk-body">
				    @Model.SchoolRegisteredAddress
			    </span>
		    </div>
        
		    <div class="govuk-warning-text">
			    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			    <strong class="govuk-warning-text__text">
				    <span class="govuk-warning-text__assistive">Warning</span>
				    You cannot undo this action.
			    </strong>
		    </div>
        
		    <div class="govuk-button-group">
			    <input type="submit" value="Remove this school" class="govuk-button govuk-button--warning govuk-!-margin-top-2 govuk-!-margin-bottom-8" />
			    <a asp-page="RemoveSchoolSelection"
			       asp-route-appId="@Model.ApplicationId"
			       class="govuk-link">No, take me back</a>
		    </div>
	    </form>        
    }
</div>