@page
@using Dfe.Academies.External.Web.Enums
@using Dfe.Academies.External.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Academies.External.Web.Pages.WhatIsYourRoleModel
@{
    ViewData["Title"] = "What is your role";
}

@section BeforeMain
{
    <a asp-page="WhatAreYouApplyingToDo" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-column-two-thirds">
	<div id="divApplyingToDo" class="govuk-form-group">
		<form method="post" name="frmApplicationType" novalidate="">
			<div class="@(!ViewData.ModelState.IsValid && !Model.OtherRoleError ? "govuk-form-group--error" : "")">

				@if (Model.ApplicationTypes == ApplicationTypes.FormAMat)
				{
					<h1 class="govuk-heading-l">Your role</h1>
					<legend class="govuk-fieldset__legend">Anyone from the school can fill out this form, but only the chair of a
						school's governing body can:
					</legend>
					<br/>
					<ul class="govuk-list govuk-list--bullet govuk-body-m">
						<li>complete it's declaration section</li>
						<li>submit the application</li>
					</ul>
					<br/>
					<legend class="govuk-fieldset__legend">If you are not the chair, you will be able to invite them as a
						contributor.</legend>
					<br/>
					<h2 class="govuk-heading-m">What is your role?</h2>
				}
				else
				{
					<h1 class="govuk-heading-l">What is your role?</h1>
					<p class="govuk-body govuk-radios__conditional">Anyone from the school can contribute to this form, but only the chair of governors can complete the declaration section or submit it.
					</p>
				}
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
					<div class="@(Model.OtherRoleError ? "govuk-visually-hidden" : "")">
						<partial name="_ValidationSummary" model="Model.ValidationErrorMessagesViewModel"/>
					</div>

					<div class="govuk-form-group">
						<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
							@foreach (var roleType in Enum.GetValues(typeof(SchoolRoles)).OfType<SchoolRoles>())
							{
								<div class="govuk-radios__item">
									<input type="radio"
									       asp-for="SchoolRole"
									       value="@Convert.ToInt32(roleType)"
									       id="RoleType@(roleType)"
									       class="govuk-radios__input"
									       data-aria-controls="conditional-role-@(roleType.ToString().ToLower())"
									       aria-expanded="False"/>
									<label for="RoleType@(roleType)" class="govuk-label govuk-radios__label">
										@roleType.GetDescription()
									</label>
								</div>
								@if (roleType == SchoolRoles.Other)
								{
									<div class="@(Model.OtherRoleError ? "govuk-form-group--error" : "govuk-radios__conditional") 
	                                            @(Model.SchoolRole != SchoolRoles.Other ? "govuk-radios__conditional--hidden" : "")"
									     id="conditional-role-other" aria-expanded="false">
										<div class="govuk-form-group govuk-error-summary__list">
											<label for="conditional-role-other" class="govuk-label">What is your role?</label>
											<a href="#OtherRoleNotEntered" class="@(Model.OtherRoleError ? "govuk-error-message" : "govuk-visually-hidden")">
												You must give your role
											</a>

											<input type="text" asp-for="OtherRoleNotListed" id="OtherRoleNotListed" class="govuk-input govuk-input--width-20" maxlength="100"/>
										</div>
									</div>
								}
							}
						</div>
					</div>
				</fieldset>
			</div>
			<br/>
			<input type="submit" value="Save and continue" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"/>
		</form>
	</div>
</div>
