@page
@model Dfe.Academies.External.Web.Pages.HomeModel
@{
    ViewData["Title"] = "Your applications";
}

 <div class="govuk-grid-column-two-thirds">

           @if (Model.ShowApplicationRemovedConfirmationBox)
    {
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Application Deleted
                </h3>
                <p class ="govuk-body" data-cy="successBanner">@Model.DeletedApplicationType @Model.RemovedApplicationReferenceNumber has been successfully removed.</p>
            </div>
        </div>
    }
 </div>

<div class="govuk-grid-column-full">
    @{

  
        if (Model.ExistingApplications.Any())
        {


            <h1 class="govuk-heading-xl">Your applications</h1>

            <div class="govuk-!-margin-6"></div>

            <h2 class="govuk-heading-m">Applications in progress (@Model.ExistingApplications.Count)</h2>

            <div class="govuk-!-margin-6"></div>

            @*<p id="yourApplicationsTableDescription" class="govuk-body">Applications in progress</p>*@
            <table class="govuk-table" aria-describedby="yourApplicationsTableDescription" data-cy="yourApplications">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Application</th>
                        <th scope="col" class="govuk-table__header">Trust Name</th>
                        <th scope="col" class="govuk-table__header">School Or Schools Applying To Convert</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if(Model.ExistingApplications.Any())
                    {
                        @foreach (var data in Model.ExistingApplications)
                        {
                            <tr class="govuk-table__row">
	                            <th scope="row" class="govuk-table__cell">
		                            <a asp-page="ApplicationOverview"
		                               asp-route-appId="@data.ApplicationId"
		                               class="govuk-link">@data.ApplicationTitle</a>
	                            </th>
                                <td class="govuk-table__cell">@data.TrustName</td>
	                            <td class="govuk-table__cell">
		                            @foreach (var schs in data.Schools)
		                            {
			                            <ul><li>@Html.Raw(@schs.SchoolName)</li></ul>
		                            }
	                            </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        }
    }
    <p>
        <a asp-page="WhatAreYouApplyingToDo" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-cy="startNewApplicationButton">
            Start a new application
        </a>
    </p>

    <div class="govuk-!-margin-6"></div>

    @{
        if (Model.CompletedApplications.Any())
        {
            <h2 class="govuk-heading-m">Past applications (@Model.CompletedApplications.Count)</h2>

            @*<p id="completedApplicationsTableDescription" class="govuk-body">Past applications</p>*@
	        <table class="govuk-table" aria-describedby="completedApplicationsTableDescription">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Application</th>
                        <th scope="col" class="govuk-table__header">Trust Name</th>
                        <th scope="col" class="govuk-table__header">School Or Schools Applying To Convert</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if(Model.CompletedApplications.Count > 0)
                    {
                        @foreach (var data in Model.CompletedApplications)
                        {
                            <tr class="govuk-table__row">
	                            <th scope="row" class="govuk-table__cell">
		                            <a asp-page="ApplicationOverview"
		                               asp-route-appId="@data.ApplicationId"
		                               class="govuk-link">@data.ApplicationTitle</a>
	                            </th>
                                <td class="govuk-table__cell">@data.TrustName</td>
                                <td class="govuk-table__cell">
                                    @foreach (var schs in data.Schools)
                                    {
                                        <ul><li>@Html.Raw(@schs.SchoolName)</li></ul>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
</div>
